<div class="content" *ngIf="isShowLoading">
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-5">
        <h2 class="title">{{this.actionMode == 'edit' ? 'Coupon Update' : 'Coupon Create'}}</h2>
      </div>
      <div class="col-sm-7">
        <div class="float-right cardBtn">
          <button class="btn cancelBtn mx-2" (click)="goToList()">CANCEL</button>
          <button class="btn saveBtn" type="submit" [disabled]="checkDisable()"
            [ngStyle]="{'background-color':checkDisable()  ? 'gray' : '#2291db' }" (click)="onSubmit()">
            {{ buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div">
  <form [formGroup]="couponForm">
    <div class="row">
      <div class="col-md-6">
        <div class="card cardForm cardHeight">
          <div class="card-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="label" for="couponCode">Coupon Code <span class="required-asterisk">*</span></label>
                <input type="text" class="form-control inputText" id="couponCode" formControlName="couponCode"
                  name="couponCode" required />
                <span *ngIf="
                couponCode.invalid &&
                        (couponCode.dirty || couponCode.touched)
                      " class="text-danger mx-2">
                  <span *ngIf="couponCode.errors.required">
                    Coupon code is required.</span>
                </span>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class=" col-form-label" for="couponType">Coupon Type <span
                    class="required-asterisk">*</span></label>
                <mat-select id="couponType" formControlName="couponType" name="couponType"
                  (selectionChange)="onDiscountTypeChange($event)" class="form-control">
                  <mat-option value="">Please select</mat-option>
                  <mat-option *ngFor="let dl of couponType" [value]="dl.id">
                    {{ dl.value }}
                  </mat-option>
                </mat-select>
                <span *ngIf=" couponTypeId.invalid &&
                        (couponTypeId.dirty || couponTypeId.touched)
                      " class="text-danger mx-2">
                  <span *ngIf="couponTypeId.errors.required">
                    Please select coupon type.</span>
                </span>

              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="label" for="amount">Amount <span class="required-asterisk">*</span></label>
                <input type="number" class="form-control inputText" id="amount" formControlName="amount" name="amount"
                  required />
                <span *ngIf=" amount.invalid && (amount.dirty || amount.touched)
                      " class="text-danger mx-2">
                  <span *ngIf="amount.errors.required">
                    Amount is required.</span>
                </span>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="label" for="couponUsed">Coupon Used <span class="required-asterisk">*</span></label>
                <input type="number" class="form-control inputText" id="couponUsed" formControlName="couponUsed"
                  name="couponUsed" required />
                <span *ngIf="couponUsed.invalid &&
                        (couponUsed.dirty || couponUsed.touched)
                      " class="text-danger mx-2">
                  <span *ngIf="couponUsed.errors.required">
                    Coupon used is required.</span>
                </span>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="this.actionMode == 'edit'">
              <div class="form-group">
                <label class=" col-form-label" for="brandId">Status <span
                    class="required-asterisk">*</span></label><br />
                <mat-radio-group aria-label="Select an option" id="status" formControlName="status" name="status">
                  <mat-radio-button [value]="true">Active</mat-radio-button>
                  <mat-radio-button [value]="false">Inactive</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card cardForm cardHeight">
          <div class="card-body">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class=" col-form-label" for="couponUsageType">Coupon Usage Type <span
                    class="required-asterisk">*</span></label>
                <mat-select id="couponType" formControlName="couponUsageType" name="couponUsageType"
                  (selectionChange)="onDiscountTypeChange($event)" class="form-control">
                  <mat-option value="">Please select</mat-option>
                  <mat-option *ngFor="let dl of couponUsedType" [value]="dl.id">
                    {{ dl.value }}
                  </mat-option>
                </mat-select>
                <span *ngIf=" couponUsageType.invalid &&
                        (couponUsageType.dirty || couponUsageType.touched)
                      " class="text-danger mx-2">
                  <span *ngIf="couponUsageType.errors.required">
                    Please select coupon usage type.</span>
                </span>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="label" for="usageLimit">Usage Limit <span class="required-asterisk">*</span></label>
                <input type="number" class="form-control inputText" id="usageLimit" formControlName="usageLimit"
                  name="usageLimit" required />
                <span *ngIf=" usageLimit.invalid &&
                        (usageLimit.dirty || usageLimit.touched)
                      " class="text-danger mx-2">
                  <span *ngIf="usageLimit.errors.required">
                    Amount is required.</span>
                </span>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="label" for="startDate">Coupon Start Date</label>
                <div class="col-md-12">
                  <mat-form-field appearance="standard">
                    <input matInput [matDatepicker]="picker1" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                  <span *ngIf="startDate.invalid &&(startDate.dirty || startDate.touched) " class="text-danger mx-2">
                    <span *ngIf="startDate.errors.required">
                      Coupon Start Date is required.</span>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="label" for="endDate">Coupon End Date</label>
                <div class="col-md-12">
                  <mat-form-field appearance="standard">
                    <input matInput [matDatepicker]="picker2" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                  <span *ngIf=" endDate.invalid &&(endDate.dirty || endDate.touched) "
                    class="text-danger mx-2">
                    <span *ngIf="endDate.errors.required">
                      Coupon End Date is required.</span>
                  </span>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>

  </form>
</div>
