
.title{
    font-family: Open Sans,sans-serif;
    font-weight: 500;
    line-height: 2rem;
  }

  .cardForm{
    flex: 1 1 auto;
    padding: 1.25rem;
    border-top: 3px solid grey!important;
  }

  // .card-header{
  //   height: 12%;
  // }

  .card.cardForm.cardHeight {
    height: 92%;
  }

  .card.cardForm.cardHeightWallet {
    height: 93%;
  }
  .card.cardForm.cardHeightVerification {
    height: 93%;
  }


  .card.cardForm.cardHeight1 {
    height: 94%;
  }

  .removeBtn{
    background-color: red;
    color: #fff;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .875rem;
    width: 130px;
    height: 40px;
  }

  .required-asterisk{
    color: red;
  }

  .saveBtn{
    background-color: rgb(34, 145, 219);
    color: #fff;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .875rem;
    width: 130px;
    height: 40px;
  }

  .cancelBtn{
    background-color: red;
    color: #fff;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .875rem;
    width: 130px;
    height: 40px;
  }

  .hidden-file {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    width: 0px;
    height:0px;
    border:none;
    margin:0;
    padding:0
  }



  ///file upload

.btn_upload {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  color: #fff;
  background-color: #2a72d4;
  border: 1px solid #166b8a;
  padding: 5px 10px;
}

.btn_upload:hover,
.btn_upload:focus {
  background-color: #7ca9e6;
}

.yes {
  display: flex;
  align-items: flex-start;
  margin-top: 10px !important;
}

.btn_upload input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  filter: alpha(opacity=1);
  -moz-opacity: 0;
  opacity: 0;
}

.it {
  height: 100px;
  margin-left: 10px;
}

.btn-rmv1,
.btn-rmv2,
.btn-rmv3,
.btn-rmv4,
.btn-rmv5 {
  display: none;
}

.rmv {
  cursor: pointer;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #fff;
  display: inline-block;
  background: rgba(255, 0, 0, 1);
  margin: -5px -10px;
}

.rmv:hover {
  background: rgba(255, 0, 0, 0.5);
}



//

  .cardTopDistance{
    margin-top: 30px;
  }

  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  @media(max-width: 574px) {
    .drpDown{
      width: 300px !important;
      margin-bottom: 10px !important;

    }

    .cardTopDistance .leftBtn{
      float: left !important;
    }

  }
