

<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="title">
          {{ actionMode == "edit" ? "Dealer Update" : "Dealer Create" }}
        </h1>
      </div>
      <div class="col-sm-4">
        <div class="div d-flex justify-content-end leftBtn">
          <button class="btn cancelBtn mx-2" (click)="goToList()">
            CANCEL
          </button>
          <button class="btn saveBtn"  [disabled]="checkDisable()"
          [ngStyle]="{'background-color':checkDisable()  ? 'gray' : '#2291db' }" (click)="onSubmit()">
            {{ buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div">

  <div class="row">
    <div class="col-md-6">
      <div class="card cardForm cardHeight">
        <form [formGroup]="dealerForm">

          <div class="form-group row">
            <label class="col-md-12" for="customerName">
              Name(English) <span class="required-asterisk">*</span></label
            >
            <div class="col-md-12">
              <input
                type="text"
                class="form-control inputText"
                id="customerName"
                formControlName="customerName"
                name="customerName"
                required
              />
              <span
                *ngIf="
                customerName.invalid &&
                  (customerName.dirty || customerName.touched)
                "
                class="text-danger"
              >
                <span *ngIf="customerName.errors.required">
                  Name is required.</span
                >
              </span>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-12 col-form-label" for="emailAddress"
              >Email <span class="required-asterisk">*</span></label
            >
            <div class="col-md-12">
              <input
                type="email"
                id="emailAddress"
                formControlName="emailAddress"
                name="emailAddress"
                class="form-control"
                placeholder=""
                autocomplete="emailAddress"
              />
              <span *ngIf="emailAddress.invalid &&
                (emailAddress.dirty || emailAddress.touched)
              " class="text-danger mx-2">
                <span *ngIf="emailAddress.errors.required">Email address is required.</span>
              </span>
              <span class="text-danger" *ngIf="emailAddress.errors?.pattern">
                Value has to be a valid email address.
              </span>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-12 col-form-label" for="phoneNo"
              >Mobile <span class="required-asterisk">*</span></label
            >
            <div class="col-md-12">
              <input
                type="text"
                id="phoneNo"
                formControlName="phoneNo"
                name="phoneNo"
                class="form-control"
                placeholder=""
                autocomplete="phoneNo"
              />
              <span
                *ngIf="
                phoneNo.invalid &&
                  (phoneNo.dirty || phoneNo.touched)
                "
                class="text-danger"
              >
                <span *ngIf="phoneNo.errors.required">
                  Phone Number is required.</span
                >
              </span>

              <span class="text-danger" *ngIf="phoneNo.errors?.pattern">
                Value has to be a valid mobile number.
              </span>

            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-12" for="shopName">
              Shop Name <span class="required-asterisk">*</span></label
            >
            <div class="col-md-12">
              <input
                type="text"
                class="form-control inputText"
                id="shopName"
                formControlName="shopName"
                name="shopName"
                required
              />
              <span
                *ngIf="shopName.invalid && (shopName.dirty || shopName.touched)"
                class="text-danger"
              >
                <span *ngIf="shopName.errors.required">
                  Shop Name is required.</span
                >
              </span>
            </div>
          </div>
          <div class="form-group row">
          <div *ngIf="actionMode == 'edit'">
            <div class="form-group">
              <label class="col-form-label" for="status"
                >Status <span class="required-asterisk">*</span></label
              ><br />
              <mat-radio-group
                aria-label="Select an option"
                id="status"
                formControlName="status"
                name="status">
                <mat-radio-button [value]="true">Active</mat-radio-button>
                <mat-radio-button [value]="false">Inactive</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card cardForm cardHeight">

        <form [formGroup]="customerAddressForm">
          <div class="card-header mb-2">
            <div class="row">
              <div class="col-sm-8">
                <h3 class="title">Customer Address</h3>
              </div>
              <div class="col-sm-4"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="label" for="districtId"
                  >District <span class="required-asterisk">*</span></label
                >
                <mat-select
                  id="districtId"
                  formControlName="districtId"
                  name="districtId"
                  class="form-control"
                  (selectionChange)="onDistrictChange($event)"
                >
                  <mat-option value="">Please select</mat-option>
                  <mat-option *ngFor="let dis of districtList" [value]="dis.id">
                    {{ dis.value }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <div class="form-group row">
                  <label class="col-md-12" for="thanaId"
                    >Thana <span class="required-asterisk">*</span></label
                  >
                  <div class="col-md-12">
                    <mat-select
                      id="thanaId"
                      formControlName="thanaId"
                      name="thanaId"
                      class="form-control"
                      (selectionChange)="onThanaChange($event)"
                    >
                      <mat-option value="">Please select</mat-option>
                      <mat-option *ngFor="let th of thanaList" [value]="th.id">
                        {{ th.value }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <div class="form-group row">
                  <label class="col-md-12" for="clusterId"
                    >Cluster <span class="required-asterisk">*</span></label
                  >
                  <div class="col-md-12">
                    <mat-select
                      id="clusterId"
                      formControlName="clusterId"
                      name="clusterId"
                      class="form-control"
                    >
                      <mat-option value="">Please select</mat-option>
                      <mat-option *ngFor="let cl of clusterList" [value]="cl.id">
                        {{ cl.value }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="label" for="area"
                  >Area/Sector <span class="required-asterisk">*</span></label
                >
                <textarea
                  type="text"
                  class="form-control inputText"
                  id="area"
                  formControlName="area"
                  name="area"
                  required
                ></textarea>
                <span
                  *ngIf="
                  area.invalid && (area.dirty || area.touched)"
                  class="text-danger"
                >
                  <span *ngIf="area.errors.required">
                    Area is required.</span
                  >
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="label" for="longitude"
                  >Longitude <span class="required-asterisk">*</span></label
                >
                <input
                  type="number"
                  class="form-control inputText"
                  id="longitude"
                  formControlName="longitude"
                  name="longitude"
                  required
                />
                <span
                  *ngIf="
                  longitude.invalid &&
                    (longitude.dirty || longitude.touched)
                  "
                  class="text-danger"
                >
                  <span *ngIf="longitude.errors.required">
                    Longitude is required.</span
                  >
                </span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="label" for="latitude"
                  >Latitude <span class="required-asterisk">*</span></label
                >
                <input
                  type="number"
                  class="form-control inputText"
                  id="latitude"
                  formControlName="latitude"
                  name="latitude"
                  required
                />
                <span
                  *ngIf="
                  latitude.invalid &&
                    (latitude.dirty || latitude.touched)
                  "
                  class="text-danger"
                >
                  <span *ngIf="latitude.errors.required">
                    Latitude is required.</span
                  >
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="label" for="address"
                  >Address <span class="required-asterisk">*</span></label
                >
                <textarea
                  type="text"
                  class="form-control inputText"
                  id="address"
                  formControlName="address"
                  name="address"
                  required
                ></textarea>
                <span
                  *ngIf="
                  address.invalid &&
                    (address.dirty ||
                    address.touched)
                  "
                  class="text-danger"
                >
                  <span *ngIf="address.errors.required">
                    Address is required.</span
                  >
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="div">
    <div class="row">
      <div class="col-md-6">
        <div class="card cardForm cardHeightWallet">
          <form [formGroup]="brandInformationForm">
            <div class="card-header mb-2">
              <div class="row">
                <div class="col-sm-8">
                  <h3 class="title">Brand Information</h3>
                </div>
                <div class="col-sm-4"></div>
              </div>
            </div>

            <div class="form-group row">
              <div *ngFor="let bt of BrandList; let i = index" >
                <mat-checkbox class="example-margin col-md-6"
                (change)="onChange($event)" [value]="bt.id">{{ bt.value}}</mat-checkbox>
            </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card cardForm">
          <form [formGroup]="nomineInformationForm">
            <div class="card-header mb-2">
              <div class="row">
                <div class="col-sm-8">
                  <h3 class="title">Nomine Information</h3>
                </div>
                <div class="col-sm-4"></div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-12 col-form-label" for="keyContactName"
                >Nomine Name<span class="required-asterisk">*</span></label
              >
              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control inputText"
                  id="keyContactName"
                  formControlName="keyContactName"
                  name="keyContactName"
                  required
                />
                <span
                  *ngIf="keyContactName.invalid && (keyContactName.dirty || keyContactName.touched)"
                  class="text-danger"
                >
                  <span *ngIf="keyContactName.errors.required">
                    Nomine Name is required.</span
                  >
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-12 col-form-label" for="keyContactPhone"
                >Mobile<span class="required-asterisk">*</span></label
              >
              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control inputText"
                  id="keyContactPhone"
                  formControlName="keyContactPhone"
                  name="keyContactPhone"
                  required
                />
                <span
                  *ngIf="
                  keyContactPhone.invalid &&
                    (keyContactPhone.dirty || keyContactPhone.touched)
                  "
                  class="text-danger"
                >
                  <span *ngIf="keyContactPhone.errors.required">
                    Mobile number is required.</span
                  >
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="div">
    <div class="row">
      <div class="col-md-12">
        <div class="card cardForm">
          <form [formGroup]="documentInformationForm">
            <div class="card-header mb-2">
              <div class="row">
                <div class="col-sm-8">
                  <h3 class="title">Document Information</h3>
                </div>
                <div class="col-sm-4"></div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-12 col-form-label" for="documentTypeId"
                >Document Type<span class="required-asterisk">*</span></label
              >
              <div class="col-md-12">
                <mat-select
                  id="documentTypeId"
                  formControlName="documentTypeId"
                  name="documentTypeId"
                  class="form-control"
                >
                  <mat-option value="">Please select</mat-option>
                  <mat-option
                    *ngFor="let type of attachmentList"
                    [value]="type.id"
                    (onSelectionChange)="onDocumentChange($event)"
                  >
                    {{ type.value }}
                  </mat-option>
                </mat-select>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <div class="row">
                  <!-- <label class="col-sm-3 col-form-label" for="files">Documents</label> -->
                  <div class="col-sm-12">
                    <span class="hidden-file">
                      <input
                        type="file"
                        multiple
                        #fileInput
                        ng2FileSelect
                        [uploader]="uploader"
                        (onFileSelected)="onFileSelected($event)"
                      />
                    </span>
                    <div
                      class="btn-group float-right"
                      (click)="fileInput.click()"
                    >
                      <!-- <button type="button" class="btn btn-primary btn-group-icon btn-group-divider">
                               <i class="ion-plus-round"></i>
                          </button> -->
                      <button type="button" class="btn btn-primary">
                        New Image
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Preview</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of uploader.queue">
                    <td>
                      {{ item?.file?.name }}
                    </td>
                    <td>
                      {{ item?.file?.size / 1024 / 1024 | number: ".2" }} MB
                    </td>
                    <id
                      ><img
                        *ngFor="let url of urls"
                        style="margin-top: 10px; margin-left: 10px"
                        [src]="url"
                        height="35px"
                        width="35px" />
                      <br
                    /></id>
                    <td>
                      <button
                        type="button"
                        class="btn btn-danger btn-xs"
                        (click)="item.remove()"
                      >
                        <span class="glyphicon glyphicon-trash"></span>
                        Remove
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

