<app-product-type-list *ngIf="mode == 'list'"></app-product-type-list>
<app-product-type-edit *ngIf="mode == 'edit' || mode == 'new'" [selectedProductTypeObj]="selectedProductTypeObj"></app-product-type-edit>
