<div class="content" *ngIf="isShowLoading">
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-md-3">
        <h1 class="title">Merchant</h1>
      </div>
      <div class="col-md-9">
        <div class="float-right">
          <button class="btn cancelBtn" (click)="goToList()">CANCEL</button>
          <!-- <button class="btn removeBtn">REMOVE</button> -->
          <button class="btn saveBtn" (click)="onSubmit()">
            {{ buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div">
  <form [formGroup]="storeForm">
  <div class="row">
   <div class="col-md-6">
    <div class="card cardForm cardMargin">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label class="label" for="merchantFirstNameEng">First Name(English) <span class="required-asterisk">*</span></label>
              <input type="text" class="form-control inputText" id="merchantFirstNameEng" formControlName="merchantFirstNameEng"
                name="firstNameEng" required />
              <span *ngIf="
              merchantFirstNameEng.invalid &&
                (merchantFirstNameEng.dirty || merchantFirstNameEng.touched)
              " class="text-danger">
                <span *ngIf="merchantFirstNameEng.errors.required">
                Merchant First Name(English) is required.</span>
              </span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label class="label" for="merchantFirstNameBan">First Name(Bangla) <span class="required-asterisk">*</span></label>
              <input type="text" class="form-control inputText" id="merchantFirstNameBan" formControlName="merchantFirstNameBan"
                name="merchantFirstNameBan" required />
              <span *ngIf="
              merchantFirstNameBan.invalid && (merchantFirstNameBan.dirty || merchantFirstNameBan.touched)
              " class="text-danger">
                <span *ngIf="merchantFirstNameBan.errors.required">
                Merchant First Name(Bangla) is required.</span>
              </span>
            </div>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="storeCode">Merchant code <span class="required-asterisk">*</span></label>
          <div class="col-md-12">
            <input
              type="text"
              id="storeCode"
              formControlName="storeCode"
              name="storeCode"
              class="form-control"

            />
            <span
            *ngIf="
            storeCode.invalid &&
              (storeCode.dirty || storeCode.touched)
            "
            class="text-danger mx-2"
          >
            <span *ngIf="storeCode.errors.required"> Merchant code is required.</span>
          </span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="storeEmail">Merchant email <span class="required-asterisk">*</span></label>
          <div class="col-md-12">
            <input
              type="email"
              id="storeEmail"
              formControlName="storeEmail"
              name="storeEmail"
              class="form-control"

              autocomplete="storeEmail"
            />
            <span
              *ngIf="
              storeEmail.invalid &&
                (storeEmail.dirty || storeEmail.touched)
              "
              class="text-danger mx-2"
            >
              <span *ngIf="storeEmail.errors.required"> Value has to be a valid email address.</span>
            </span>
            <span class="text-danger" *ngIf="storeEmail.errors?.pattern">
              Email address is required.
            </span>
          </div>
        </div>

      </div>
    </div>
   </div>
   <div class="col-md-6">
    <div class="card cardForm">
      <div class="card-body">

        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="picker"
            >Merchant Date <span class="required-asterisk">*</span></label
          >
          <div class="col-md-12">
            <mat-form-field appearance="standard" >
              <input matInput [matDatepicker]="picker" formControlName="inBusinessSince"
               >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="storePhone">Merchant phone <span class="required-asterisk">*</span></label>
          <div class="col-md-12">
            <input
              type="text"
              id="storePhone"
              formControlName="storePhone"
              name="storePhone"
              class="form-control"

            />
            <span
            *ngIf="
            storePhone.invalid &&
              (storePhone.dirty || storePhone.touched)
            "
            class="text-danger mx-2"
          >
            <span *ngIf="storePhone.errors.required"> Merchant phone is required.</span>
          </span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="storeAddress">Merchant address <span class="required-asterisk">*</span></label>
          <div class="col-md-12">
            <input
              type="text"
              id="storeAddress"
              formControlName="storeAddress"
              name="storeAddress"
              class="form-control"

            />
            <span
            *ngIf="
            storeAddress.invalid &&
              (storeAddress.dirty || storeAddress.touched)
            "
            class="text-danger mx-2"
          >
            <span *ngIf="storeAddress.errors.required"> Merchant address is required.</span>
          </span>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
  </form>
</div>
