<div class="row">
  <div class="col-md-12">
    <div class="card cardForm">
      <h3 class="title">Slider Image</h3>
      <div class="card-body">
        <div class="col-md-12">
          <div class="form-group">
            <div class="row">

              <div class="col-sm-12">
                <span class="hidden-file">
                  <input type="file" #fileInput ng2FileSelect [uploader]="uploader"
                    (onFileSelected)="onFileSelected($event)" />
                </span>
                <div class="btn-group float-right" (click)="fileInput.click()">

                  <button type="button" class="btn btn-primary">
                    Add Image
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Preview</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of sliderImageList">
                <td>
                  {{ item.title }}
                </td>
                <td>
                  <img style="margin-top: 10px;margin-left: 10px; cursor: pointer;" [src]="item.imageLink" height="35px" width="35px" (click)="openImageDialog($event)">
                  <br />
                </td>
                <td>
                  {{ item.status }}
                </td>
                <!-- <td>
                  {{ item?.file?.size/1024/1024 | number:'.2' }} MB
                </td> -->
                <td>
                  <mat-slide-toggle [checked]="item.status === 'Active'? true : false"
                  (change)="onchnage(item,$event.source.checked)"></mat-slide-toggle>&nbsp;&nbsp;
                  <button type="button" class="btn btn-danger btn-xs" (click)="onSliderImageDelete(item)">
                    <span class="glyphicon glyphicon-trash"></span>
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <hr />

        </div>
      </div>
    </div>
  </div>
</div>
