<app-designation-list *ngIf="mode == 'list'"></app-designation-list>
<app-designation-edit *ngIf="mode == 'edit' || mode == 'new'" [selectedDesignationObj]="selectedDesignationObj"></app-designation-edit>
