<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-8">
        <h2 class="title">Configuration Management</h2>
      </div>
      <div class="col-sm-4 leftBtn">
        <div class="divBtn float-right d-flex justify-content-end ">
          <!-- <button class="btn removeBtn ">cancel</button> -->
          <button class="btn saveBtn  mx-3 " [disabled]="checkDisable()"
          [ngStyle]="{'background-color':checkDisable()  ? 'gray' : '#2291db' }" (click)="onSubmit()">SAVE</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div">
  <form [formGroup]="configForm">
    <div class="row">
      <div class="col-md-6">
        <div class="card cardForm cardHeight">
          <div class="card-body">

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class=" col-form-label" for="vatRate">Vat Rate <span class="required-asterisk">*</span></label>

                  <input type="number" id="vatRate" formControlName="vatRate" name="vatRate" class="form-control"
                    placeholder="Vat Rate" />
                  <span *ngIf=" vatRate.invalid &&
                        (vatRate.dirty || vatRate.touched)
                      " class="text-danger mx-2">
                    <span *ngIf="vatRate.errors.required"> Vat Rate is required.</span>
                  </span>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class=" col-form-label" for="serviceCharge">Service Charge <span
                      class="required-asterisk">*</span></label>

                  <input type="number" id="serviceCharge" formControlName="serviceCharge" name="serviceCharge"
                    class="form-control" placeholder="Service Charge " />

                  <span *ngIf="serviceCharge.invalid &&(serviceCharge.dirty || serviceCharge.touched) "
                    class="text-danger mx-2">
                    <span *ngIf="serviceCharge.errors.required"> Service Charge is required.</span>
                  </span>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class=" col-form-label" for="expressServiceCharge"> Express Service Charge <span
                      class="required-asterisk">*</span></label>

                  <input type="number" id="expressServiceCharge" formControlName="expressServiceCharge"
                    name="expressServiceCharge" class="form-control" placeholder="Express Service Charge" />

                  <span *ngIf="
                    expressServiceCharge.invalid &&
                      (expressServiceCharge.dirty || expressServiceCharge.touched)
                    " class="text-danger mx-2">
                    <span *ngIf="expressServiceCharge.errors.required">Express Service Charge is required.</span>
                  </span>
                </div>
              </div>
              <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class=" col-form-label" for="paymentType">Payment Type <span
                      class="required-asterisk">*</span></label>

                  <mat-select id="paymentType" formControlName="paymentType" name="paymentType" class="form-control">
                    <mat-option value="">Please select</mat-option>
                    <mat-option *ngFor="let dis of payment" [value]="dis.value">
                      {{ dis.viewValue }}
                    </mat-option>
                  </mat-select>
                </div>
              </div> -->

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class=" col-form-label" for="regularServiceCharge"> Regular Service Charge <span
                      class="required-asterisk">*</span></label>

                  <input type="number" id="regularServiceCharge" formControlName="regularServiceCharge"
                    name="regularServiceCharge" class="form-control" placeholder="Regular Service Charge" />

                  <span *ngIf="
                  regularServiceCharge.invalid &&
                    (regularServiceCharge.dirty || regularServiceCharge.touched)
                  " class="text-danger mx-2">
                    <span *ngIf="regularServiceCharge.errors.required">Regular Service Charge is required.</span>
                  </span>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class=" col-form-label" for="partnerCommission"> Partner Commission <span
                      class="required-asterisk">*</span></label>
                  <input type="number" id="partnerCommission" formControlName="partnerCommission" name="partnerCommission"
                    class="form-control" placeholder="Partner Commission" />
                  <span *ngIf="
                    partnerCommission.invalid &&
                      (partnerCommission.dirty || partnerCommission.touched)
                    " class="text-danger mx-2">
                    <span *ngIf="partnerCommission.errors.required">Partner Commission is required.</span>
                  </span>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                <label class=" col-form-label" for="liftingCharge"> Lifting Charge Per Floor <span
                    class="required-asterisk">*</span></label>

                <input type="number" id="liftingCharge" formControlName="liftingCharge" name="liftingCharge"
                  class="form-control" placeholder="Lifting Charge Per Floor" />
                <span *ngIf="
                    liftingCharge.invalid &&
                    (liftingCharge.dirty || liftingCharge.touched)
                  " class="text-danger mx-2">
                  <span *ngIf="liftingCharge.errors.required">Lifting Charge is required.</span>
                </span>
              </div>

              </div>

            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                <label class=" col-form-label" for="rewardPoint"> Reward Point <span
                    class="required-asterisk">*</span></label>

                <input type="number" id="rewardPoint" formControlName="rewardPoint" name="rewardPoint"
                  class="form-control" placeholder="Lifting Charge Per Floor" />
                <span *ngIf="rewardPoint.invalid && (rewardPoint.dirty || rewardPoint.touched)" class="text-danger mx-2">
                  <span *ngIf="rewardPoint.errors.required">Reward Point is required.</span>
                </span>
              </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                <label class=" col-form-label" for="floorNoCharge"> Floor No Charge <span
                    class="required-asterisk">*</span></label>

                <input type="number" id="floorNoCharge" formControlName="floorNoCharge" name="floorNoCharge"
                  class="form-control" placeholder="Floor No Charge Per Floor" />
                <span *ngIf="floorNoCharge.invalid && (floorNoCharge.dirty || floorNoCharge.touched)" class="text-danger mx-2">
                  <span *ngIf="floorNoCharge.errors.required">Floor No Charge is required.</span>
                </span>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card cardForm ">
          <div class="card-body">
            <h2 class="title ">Delivery Slot Setup</h2>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <!-- <div class="form-group">
                  <section class="example-section">
                    <mat-checkbox class="example-margin" formControlName="enableTimeSlot">Enable Time Slot
                    </mat-checkbox>
                  </section>
                </div> -->
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <section class="example-section">
                    <mat-checkbox class="example-margin" formControlName="enableTimeSlot">Enable Time Slot
                    </mat-checkbox>
                  </section>
                </div>

              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="col-form-label" for="timeSlot">Time Slot (Minutes) <span
                      class="required-asterisk">*</span></label>

                  <input type="number" id="serviceCharge" formControlName="timeSlot" name="timeSlot" class="form-control"
                    placeholder=" Time Slot " />
                  <span *ngIf="
                      timeSlot.invalid &&
                      (timeSlot.dirty || timeSlot.touched)
                    " class="text-danger mx-2">
                    <span *ngIf="timeSlot.errors.required">Time Slot is required.</span>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class=" col-form-label" for="openTime">Opening Time <span
                      class="required-asterisk">*</span></label>
                  <mat-form-field class="example-full-width">
                    <mat-label>Open Time</mat-label>
                    <input formControlName="openTime" (change)="onchnageStartTime($event)" matTimepicker>
                  </mat-form-field>
                  <span *ngIf="
                  openTime.invalid &&
                      (openTime.dirty || openTime.touched)
                    " class="text-danger mx-2">
                    <span *ngIf="openTime.errors.required">Opening time is  required.</span>
                  </span>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="col-md-12 col-form-label" for="closeTime">Closing Time <span
                      class="required-asterisk">*</span></label>
                  <mat-form-field class="example-full-width">
                    <mat-label>Close Time</mat-label>
                    <input type="text" formControlName="closeTime" matTimepicker>
                  </mat-form-field>
                  <span *ngIf="closeTime.invalid &&
                      (closeTime.dirty || closeTime.touched)
                    " class="text-danger mx-2">
                    <span *ngIf="closeTime.errors.required">Closing time is  required.</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
