<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="title">Payment</h1>
      </div>
      <div class="col-sm-4  ">
        <div class="div d-flex justify-content-end leftBtn">
          <button class="btn removeBtn mr-3 " (click)="onNoClick()">CLOSE</button>
          <button class="btn saveBtn  " (click)="onSubmit()">{{'Submit'}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="div">
  <div class="row">
    <div class="col-md-12">
      <div class="card cardForm ">
        <form [formGroup]="paymentInformationForm">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="title">Payment Information</h2>
              </div>
              <div class="col-sm-4  ">
                <div class="div d-flex justify-content-end leftBtn">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Due Payment :</label>&nbsp;{{duePayment}}
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-12" for="amount">
              Payable Amount <span class="required-asterisk">*</span></label
            >
            <div class="col-md-12">
              <input
                type="number"
                class="form-control inputText"
                id="amount"
                formControlName="amount"
                name="amount"
                required
              />
              <span
                *ngIf="
                amount.invalid &&
                  (amount.dirty || amount.touched)
                "
                class="text-danger"
              >
                <span *ngIf="amount.errors.required">
                  Payable Amount is required.</span
                >
              </span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-12" for="note">
              Note <span class="required-asterisk">*</span></label
            >
            <div class="col-md-12">
              <input
                type="text"
                class="form-control inputText"
                id="note"
                formControlName="note"
                name="note"
                required
              />
              <span
                *ngIf="
                note.invalid &&
                  (note.dirty || note.touched)
                "
                class="text-danger"
              >
                <span *ngIf="note.errors.required">
                  Note is required.</span
                >
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>


