
<app-product-price-list *ngIf="mode == 'list'"></app-product-price-list>
<app-product-price-edit *ngIf="mode == 'edit' || mode == 'new'" [selectedProductPriceObj]="selectedProductPriceObj"></app-product-price-edit>
