
.title{

    font-family: Open Sans,sans-serif;
    font-weight: 500;
    line-height: 2rem;
  }

  .cardForm{
    flex: 1 1 auto;
    padding: 1.25rem;
    border-top: 3px solid grey!important;
  }

  .cardMargin{
    height: 93% !important;
  }

  .removeBtn{
    background-color: red;
    color: #fff;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .875rem;
    width: 130px;
    height: 40px;
  }

  .cancelBtn{
    background-color: red;
    color: #fff;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .875rem;
    width: 130px;
    height: 40px;
  }

  .required-asterisk{
    color: red;
  }

  .saveBtn{
    background-color: rgb(34, 145, 219);
    color: #fff;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .875rem;
    width: 130px;
    height: 40px;
  }

  .fileUploadBtn{
    background-color: rgb(34, 145, 219);
    color: #fff;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .875rem;
    width: 130px;
    height: 40px;
  }

  .cardTopDistance{
    margin-top: 30px;
  }

  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1000;
  }

  @media(max-width: 777px) {


    .cardTopDistance .float-right{
      float: left !important;
    }

  }
