
<div class="content" *ngIf="isShowLoading">
    <div class="text-center">
      <mat-spinner></mat-spinner>
    </div>
  </div>

      <div class="card cardTopDistance">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-3">
              <h3 class="title">Product Type</h3>
            </div>
            <div class="col-sm-9">
              <div class="float-right cardBtn">
                <button class="btn cancelBtn mx-2" (click)="goToList()">CANCEL</button>
                <button class="btn saveBtn" (click)="onSubmit()">
                  {{ buttonText }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="div">
        <form [formGroup]="productTypeForm">
          <div class="row">
            <div class="col-md-6">
              <div class="card cardForm">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label class="label" for="titleEng"
                          >Title(English) <span class="required-asterisk">*</span></label
                        >
                        <input
                          type="text"
                          class="form-control inputText"
                          id="titleEng"
                          formControlName="titleEng"
                          name="titleEng"
                          required
                        />
                        <span
                          *ngIf="
                          titleEng.invalid &&
                            (titleEng.dirty || titleEng.touched)
                          "
                          class="text-danger"
                        >
                          <span *ngIf="titleEng.errors.required">
                            Title(English) is required.</span
                          >
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label class="label" for="titleBan"
                          >Title(Bangla) <span class="required-asterisk">*</span></label
                        >
                        <input
                          type="text"
                          class="form-control inputText"
                          id="titleBan"
                          formControlName="titleBan"
                          name="titleBan"
                          required
                        />
                        <span
                          *ngIf="
                          titleBan.invalid && (titleBan.dirty || titleBan.touched)
                          "
                          class="text-danger"
                        >
                          <span *ngIf="titleBan.errors.required">
                            Title(Bangla) is required.</span
                          >
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label class="label" for="nameEng"
                          >Name(English) <span class="required-asterisk">*</span></label
                        >
                        <input
                          type="text"
                          class="form-control inputText"
                          id="nameEng"
                          formControlName="nameEng"
                          name="nameEng"
                          required
                        />
                        <span
                          *ngIf="
                          nameEng.invalid &&
                            (nameEng.dirty || nameEng.touched)
                          "
                          class="text-danger"
                        >
                          <span *ngIf="nameEng.errors.required">
                            Name(English) is required.</span
                          >
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label class="label" for="nameBan"
                          >Name(Bangla) <span class="required-asterisk">*</span></label
                        >
                        <input
                          type="text"
                          class="form-control inputText"
                          id="nameBan"
                          formControlName="nameBan"
                          name="nameBan"
                          required
                        />
                        <span
                          *ngIf="
                          nameBan.invalid && (nameBan.dirty || nameBan.touched)
                          "
                          class="text-danger"
                        >
                          <span *ngIf="nameBan.errors.required">
                            Name(Bangla) is required.</span
                          >
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label class="label" for="descriptionEng"
                          >Description(English)</label
                        >
                        <input
                          type="text"
                          class="form-control inputText"
                          id="descriptionEng"
                          formControlName="descriptionEng"
                          name="descriptionEng"
                        />

                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label class="label" for="descriptionBan"
                          >Description(Bangla)</label
                        >
                        <input
                          type="text"
                          class="form-control inputText"
                          id="descriptionBan"
                          formControlName="descriptionBan"
                          name="descriptionBan"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card cardForm cardMargin">
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-md-12 col-form-label" for="code">product Type Code <span
                        class="required-asterisk">*</span></label>
                    <div class="col-md-12">
                      <input type="text" id="productTypeCode" formControlName="productTypeCode" name="productTypeCode" class="form-control" />
                      <span *ngIf="productTypeCode.invalid && (productTypeCode.dirty || productTypeCode.touched)" class="text-danger">
                        <span *ngIf="productTypeCode.errors.required"> product Type Code is required.</span>
                      </span>
                    </div>
                  </div>
                  <div class="form-group row ">
                    <label class="col-md-12 col-form-label" for="merchantId">Merchant <span
                        class="required-asterisk">*</span></label>
                    <div class="col-md-12">
                      <mat-select id="merchantId" formControlName="merchantId" name="merchantId" class="form-control">
                        <mat-option value="">Please select</mat-option>
                        <mat-option *ngFor="let store of merchantList" [value]="store.id">
                          {{ store.value }}
                        </mat-option>
                      </mat-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

