
<div class="content" *ngIf="isShowLoading">
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card cardTopDistance">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-3">
            <h3 class="title">Permission</h3>
          </div>
          <div class="col-sm-9">
            <div class="float-right cardBtn">
              <button class="btn cancelBtn mx-2" (click)="goToList()">CANCEL</button>
              <button class="btn saveBtn" (click)="onSubmit()">
                {{ buttonText }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card cardForm">
      <div class="card-body">
        <form [formGroup]="permisisonForm">

          <div class="form-group row">
            <label class="col-md-12 col-form-label" for="permissionName"
              >Permission Name <span class="required-asterisk">*</span></label
            >
            <div class="col-md-12">
              <input
                type="text"
                id="permissionName"
                formControlName="permissionName"
                name="permissionName"
                class="form-control"
              />
              <span
              *ngIf="
              permissionName.invalid &&
                (permissionName.dirty || permissionName.touched)
              "
              class="text-danger mx-2"
            >
              <span *ngIf="permissionName.errors.required"> Permission name is required.</span>
            </span>
            </div>
          </div>


          <section class="example-section">
            <p><mat-checkbox formControlName="status">Status</mat-checkbox></p>
          </section>
        </form>
      </div>
    </div>


  </div>
</div>



