<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="title">{{this.actionMode == 'edit' ? 'Customer Update' : 'Customer Create'}}</h1>
      </div>
      <!-- <div class="col-md-3 col-sm 5 drpDown ">
                    <mat-select id="merchantStore" name="merchantStore" class="form-control"
                        (selectionChange)="onChange($event)">
                        <mat-option value="profile">Customer details</mat-option>
                        <mat-option value="changepassword">Set credentials</mat-option>
                    </mat-select>
            </div> -->
      <div class="col-sm-4">
        <div class="div d-flex justify-content-end leftBtn">
          <button class="btn cancelBtn mx-2" (click)="goToList()">CANCEL</button>
          <button class="btn saveBtn" type="submit" [disabled]="!customerForm.valid" (click)="onSubmit()">
            {{ buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="div">
  <form [formGroup]="customerForm">
    <div class="row">
      <div class="col-md-6">
        <div class="card cardForm">
          <div class="card-body">
            <h2 class="title">Customer Information</h2>


            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="customerName"> Customer Name <span
                      class="required-asterisk">*</span></label>
                  <input type="text" class="form-control inputText" id="customerName" formControlName="customerName"
                    name="customerName" required />
                  <span *ngIf="
                  name.invalid &&
                    (name.dirty || name.touched)
                  " class="text-danger">
                    <span *ngIf="name.errors.required">
                      Customer Name is required.</span>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="emailAddress">Email Address
                    <span class="required-asterisk">*</span></label>
                  <input type="email" class="form-control inputText" id="emailAddress" formControlName="emailAddress"
                    name="emailAddress" required />
                  <span *ngIf="
                    email.invalid &&
                      (email.dirty || email.touched)
                    " class="text-danger mx-2">
                    <span *ngIf="email.errors.required">Email address is required.</span>
                  </span>
                  <span class="text-danger" *ngIf="email.errors?.pattern">
                    Value has to be a valid email address.
                  </span>
                </div>


              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="phoneNo">Mobile
                    <span class="required-asterisk">*</span></label>
                  <input type="text" class="form-control inputText" id="phoneNo" formControlName="phoneNo"
                    name="phoneNo" required />
                  <span *ngIf="
                      phoneNumber.invalid &&
                      (phoneNumber.dirty || phoneNumber.touched)
                    " class="text-danger mx-2">
                    <span *ngIf="phoneNumber.errors.required">Mobile number is required.</span>
                  </span>
                  <span class="text-danger" *ngIf="phoneNumber.errors?.pattern">
                    Value has to be a valid mobile number.
                  </span>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="customerTypeId">Type <span class="required-asterisk">*</span></label>
                  <mat-select id="customerTypeId" formControlName="customerTypeId" name="customerTypeId"
                    class="form-control">
                    <mat-option value="">Please select</mat-option>
                    <mat-option *ngFor="let type of customerTypeList" [value]="type.id">
                      {{ type.value }}
                    </mat-option>
                  </mat-select>
                  <span *ngIf="customerTypeId.invalid && (customerTypeId.dirty || customerTypeId.touched)
                " class="text-danger mx-2">
                    <span *ngIf="customerTypeId.errors.required"> Please select type.</span>
                  </span>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="districtId">District <span class="required-asterisk">*</span></label>
                  <mat-select id="districtId" formControlName="districtId" name="districtId" class="form-control"
                    (selectionChange)="onDistrictChange($event)">
                    <mat-option value="">Please select</mat-option>
                    <mat-option *ngFor="let dis of districtList" [value]="dis.id">
                      {{ dis.value }}
                    </mat-option>
                  </mat-select>
                  <span *ngIf="district.invalid && (district.dirty || district.touched)
                " class="text-danger mx-2">
                    <span *ngIf="district.errors.required"> Please select district.</span>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="thanaId">Thana <span class="required-asterisk">*</span></label>
                  <mat-select id="thanaId" formControlName="thanaId" name="thanaId" class="form-control"
                    (selectionChange)="onThanaChange($event)">
                    <mat-option value="">Please select</mat-option>
                    <mat-option *ngFor="let th of thanaList" [value]="th.id">
                      {{ th.value }}
                    </mat-option>
                  </mat-select>

                  <span *ngIf="thana.invalid && (thana.dirty || thana.touched)
                " class="text-danger mx-2">
                    <span *ngIf="thana.errors.required"> Please select thana.</span>
                  </span>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="clusterId">Cluster <span class="required-asterisk">*</span></label>
                  <mat-select id="clusterId" formControlName="clusterId" name="clusterId" class="form-control">
                    <mat-option value="">Please select</mat-option>
                    <mat-option *ngFor="let cl of clusterList" [value]="cl.id">
                      {{ cl.value }}
                    </mat-option>
                  </mat-select>
                  <span *ngIf="cluster.invalid && (cluster.dirty || cluster.touched)
                " class="text-danger mx-2">
                    <span *ngIf="cluster.errors.required"> Please select cluster.</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card cardForm cardHeight">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
                <div class="form-group">
                  <label class="label" for="address">Address Line 1
                    <span class="required-asterisk">*</span></label>
                  <input type="text" class="form-control inputText" id="address" formControlName="address"
                    name="address" required />
                  <span *ngIf="
                    address.invalid &&
                      (address.dirty || address.touched)
                    " class="text-danger mx-2">
                    <span *ngIf="address.errors.required">Address Line 1 is required.</span>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="area">Area/Sector <span class="required-asterisk">*</span></label>

                  <input type="text" class="form-control inputText" id="area" formControlName="area" name="area"
                    required />
                  <span *ngIf="
                    area.invalid &&
                      (area.dirty || area.touched)
                    " class="text-danger mx-2">
                    <span *ngIf="area.errors.required">Area is required.</span>
                  </span>
                </div>

              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
                <div class="form-group">
                  <label class="label" for="companyName">Company </label>
                  <input type="text" class="form-control inputText" id="companyName" formControlName="companyName"
                    name="companyName" />
                  <!-- <span *ngIf="
                    companyName.invalid &&
                      (companyName.dirty || companyName.touched)
                    " class="text-danger mx-2">
                    <span *ngIf="companyName.errors.required">company Name is required.</span>
                  </span> -->
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="latitude">latitude
                    <span class="required-asterisk">*</span></label>
                  <input type="text" class="form-control inputText" id="latitude" formControlName="latitude"
                    name="latitude" required />
                  <span *ngIf="latitude.invalid && (latitude.dirty || latitude.touched)" class="text-danger mx-2">
                    <span *ngIf="latitude.errors.required">latitude is required.</span>
                  </span>

                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
                <div class="form-group">
                  <label class="label" for="longitude">Longitude
                    <span class="required-asterisk">*</span></label>
                  <input type="text" class="form-control inputText" id="longitude" formControlName="longitude"
                    name="longitude" required />
                  <span *ngIf="
                    longitude.invalid &&
                      (longitude.dirty || longitude.touched)
                    " class="text-danger mx-2">
                    <span *ngIf="longitude.errors.required">Longitude is required.</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
                <div class="form-group">
                  <label class="label" for="floorNo">Floor <span class="required-asterisk">*</span></label>
                  <mat-select id="floorNo" formControlName="floorNo" name="floorNo" class="form-control">
                    <mat-option value="">Please select</mat-option>
                    <mat-option *ngFor="let floor of floorList" [value]="floor.id">
                      {{ floor.value }}
                    </mat-option>
                  </mat-select>
                  <!-- <span *ngIf="floorNo.invalid && (floorNo.dirty || floorNo.touched)
                " class="text-danger mx-2">
                    <span *ngIf="floor.errors.required"> Please select floor No.</span>
                  </span> -->
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
                <div class="form-group">
                  <section class="example-section">
                    <mat-checkbox class="example-margin" formControlName="liftAllowed">Lift Allowed
                    </mat-checkbox>
                  </section>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="this.actionMode== 'edit'">
                <div class="form-group">
                  <label class=" col-form-label" for="status">Status <span
                      class="required-asterisk">*</span></label><br />
                  <mat-radio-group aria-label="Select an option" id="status" formControlName="status" name="status">
                    <mat-radio-button [value]="true">Active</mat-radio-button>
                    <mat-radio-button [value]="false">Inactive</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
