.preview {
  max-width: 180px;
}
.cancelBtn{
  background-color: red;
  color: #fff;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  width: 60px;
  height: 26px;
}

.uploadBtn{
  background-color: #18c74d;
  color: #fff;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  width: 60px;
  height: 26px;
}
