<!--
<div class="content" *ngIf="isShowLoading">
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</div> -->

<!-- <div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-4">
        <h3 class="title">Image Upload</h3>
      </div>
      <div class="col-sm-8">
        <div class="float-right cardBtn">
          <button class="btn cancelBtn mx-2" (click)="cancelBtn()">CANCEL</button>
          <button class="btn saveBtn" (click)="onSubmit()">
            {{ 'Upload' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="card cardForm">
  <div class="card-body">
    <form [formGroup]="imageUploadForm">

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="imageTypeId"
          >Image Type"  <span class="required-asterisk">*</span></label
        >
        <div class="col-md-12">
          <mat-select
            id="imageTypeId"
            formControlName="imageTypeId"
            name="imageTypeId"
            class="form-control"
          >
            <mat-option value="">Please select</mat-option>
            <mat-option
              *ngFor="let img of imageTypeList"
              [value]="img.id"
            >
              {{ img.value }}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label class="btn btn-default p-0">
            <input type="file" accept="image/* video/*" multiple (change)="selectFiles($event)" />
          </label>
        </div>
       <br/>
        <div class="col-8">
          <button
            class="btn uploadBtn  mx-2 float-right"
            [disabled]="!selectedFiles"
            (click)="uploadFiles()"
          >
            Upload
          </button>
          <button class="btn cancelBtn mx-2 float-right"  (click)="cancelBtn()">Close</button>
        </div>
      </div>
      <h3 style="text-align:center">Image Preview</h3>
      <hr/>
      <div>
        <img *ngFor='let preview of previews' [src]="preview" class="preview">
      </div>
    </form>
  </div>
</div>


<!-- <h3 style="text-align:center">Image Upload</h3>
<hr/>
<div class="form-group row">
  <label class="col-md-3 col-form-label" for="imageTypeId"
    >Image Type"  <span class="required-asterisk">*</span></label
  >
  <div class="col-md-12">
    <mat-select
      id="imageTypeId"
      formControlName="imageTypeId"
      name="imageTypeId"
      class="form-control"
    >
      <mat-option value="">Please select</mat-option>
      <mat-option
        *ngFor="let imageType of imageTypeList"
        [value]="imageType.id"
      >
        {{ imageType.value }}
      </mat-option>
    </mat-select>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <label class="btn btn-default p-0">
      <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
    </label>
  </div>

  <div class="col-8">
    <button
      class="btn uploadBtn  mx-2 float-right"
      [disabled]="!selectedFiles"
      (click)="uploadFiles()"
    >
      Upload
    </button>
    <button class="btn cancelBtn mx-2 float-right"  (click)="cancelBtn()">Close</button>
  </div>
</div>
<h3 style="text-align:center">Image Preview</h3>
<hr/>
<div>
  <img *ngFor='let preview of previews' [src]="preview" class="preview">
</div>
 -->

