<div class="content" *ngIf="isShowLoading">
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-md-3">
        <h1 class="title">User Update</h1>
      </div>
      <div class="col-md-9">
        <div class="float-right">
          <button class="btn cancelBtn" (click)="goToList()">CANCEL</button>
          <button class="btn saveBtn" type="submit" [disabled]="!userForm.valid" (click)="onSubmit()">
            {{ buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div">
  <form [formGroup]="userForm">
    <div class="row">
      <div class="col-md-6">
        <div class="card cardForm cardHeight">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="userFullName">Name <span class="required-asterisk">*</span></label>
                  <input type="text" class="form-control inputText" id="userFullName" formControlName="userFullName"
                    name="userFullName" placeholder="Name" required />
                  <span *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                    <span *ngIf="name.errors.required"> Name is required.</span>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-12 col-form-label" for="email">Email <span class="required-asterisk">*</span></label>
              <div class="col-md-12">
                <input type="email" id="email" formControlName="email" name="email" class="form-control"
                  placeholder="Email" autocomplete="Email" />
                <span *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger mx-2">
                  <span *ngIf="email.errors.required">Email address is required.</span>
                </span>
                <span class="text-danger" *ngIf="email.errors?.pattern">
                  Value has to be a valid email address.
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-12 col-form-label" for="mobile">Mobile <span
                  class="required-asterisk">*</span></label>
              <div class="col-md-12">
                <input type="text" id="mobile" formControlName="mobile" name="mobile" class="form-control"
                  placeholder="mobile" />
                <span *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="text-danger mx-2">
                  <span *ngIf="mobile.errors.required">
                    mobile is required.</span>
                </span>
                <span class="text-danger" *ngIf="mobile.errors?.pattern">
                  Value has to be a valid mobile number.
                </span>
              </div>
            </div>

            <mat-radio-group aria-label="Select an option" id="status" formControlName="status" name="status">
              <mat-radio-button [value]="true">Active</mat-radio-button>
              <mat-radio-button [value]="false">Inactive</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card cardForm">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-12 col-form-label" for="groupId">Group <span
                  class="required-asterisk">*</span></label>
              <div class="col-md-12 mb-4">
                <mat-select id="groupId" formControlName="groupId" name="groupId" class="form-control">
                  <mat-option value="">Please select</mat-option>
                  <mat-option *ngFor="let grp of groupsList" [value]="grp.id" [disabled]="grp.value === 'Super'">
                    {{ grp.value }}
                  </mat-option>
                </mat-select>
                <span *ngIf="groupId.invalid && (groupId.dirty || groupId.touched)" class="text-danger mx-2">
                  <span *ngIf="groupId.errors.required">
                    Please select group.</span>
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="col-form-label" for="designationId">Designation <span
                      class="required-asterisk">*</span></label>
                  <div class="">
                    <mat-select id="designationId" formControlName="designationId" name="designationId"
                      class="form-control">
                      <mat-option value="">Please select</mat-option>
                      <mat-option *ngFor="let desig of designationList" [value]="desig.id">
                        {{ desig.value }}
                      </mat-option>
                    </mat-select>

                    <span *ngIf="
                        designationId.invalid &&
                        (designationId.dirty || designationId.touched)
                      " class="text-danger mx-2">
                      <span *ngIf="designationId.errors.required">
                        Please select designtion.</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="col-form-label" for="departmentId">Department<span
                      class="required-asterisk">*</span></label>
                  <div class="">
                    <mat-select id="departmentId" formControlName="departmentId" name="departmentId"
                      class="form-control">
                      <mat-option value="">Please select</mat-option>
                      <mat-option *ngFor="let dept of departmentList" [value]="dept.id">
                        {{ dept.value }}
                      </mat-option>
                    </mat-select>
                    <span *ngIf="
                        departmentId.invalid &&
                        (departmentId.dirty || departmentId.touched)
                      " class="text-danger mx-2">
                      <span *ngIf="departmentId.errors.required">
                        Please select department.</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
