<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-8 ">
        <h1 class="title">Profile</h1>
      </div>
      <!-- <div class= "col-md-3 col-sm 5 drpDown">
            <mat-select id="merchantStore" name="merchantStore" class="form-control" (selectionChange)="onChange($event)">
              <mat-option value="profile">Profile</mat-option>
              <mat-option value="changepassword">change password</mat-option>


            </mat-select>
      </div> -->
      <div class="col-sm-4  leftBtn">
        <div class="divBtn d-flex justify-content-end ">
          <button class="btn removeBtn mr-3 ">REMOVE</button>
          <button class="btn saveBtn  " (click)="onSubmit()">SAVE</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="card cardForm ">
  <div class="card-body">
    <form [formGroup]="userForm">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="firstName">First name <span
            class="required-asterisk">*</span></label>
        <div class="col-md-12">
          <input type="text" id="firstName" formControlName="firstName" name="firstName" class="form-control"
            placeholder="First name" />
          <span *ngIf="
          firstName.invalid &&
            (firstName.dirty || firstName.touched)
          " class="text-danger mx-2">
            <span *ngIf="firstName.errors.required"> First name is required.</span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="lastName">Last name <span class="required-asterisk">*</span></label>
        <div class="col-md-12">
          <input type="text" id="lastName" formControlName="lastName" name="lastName" class="form-control"
            placeholder="Last name" />
          <span *ngIf="
          lastName.invalid &&
            (lastName.dirty || lastName.touched)
          " class="text-danger mx-2">
            <span *ngIf="lastName.errors.required"> Last name is required.</span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-12 col-form-label" for="merchantStore">Merchant store <span
            class="required-asterisk">*</span></label>
        <div class="col-md-12">
          <mat-select id="merchantStore" formControlName="merchantStore" name="merchantStore" class="form-control">
            <mat-option value="">Please select</mat-option>
            <mat-option *ngFor="let store of merchantStore1" [value]="store.value">
              {{ store.viewValue }}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="email">Email <span class="required-asterisk">*</span></label>
        <div class="col-md-12">
          <input type="email" id="email" formControlName="email" name="email" class="form-control" placeholder="Email"
            autocomplete="Email" />
          <span *ngIf="
            email.invalid &&
              (email.dirty || email.touched)
            " class="text-danger mx-2">
            <span *ngIf="email.errors.required"> Value has to be a valid email address.</span>
          </span>
          <span class="text-danger" *ngIf="email.errors?.pattern">
            Email address is required.
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="language">Default language <span
            class="required-asterisk">*</span></label>
        <div class="col-md-12">
          <mat-select id="language" formControlName="language" name="language" class="form-control">
            <mat-option value="">Please select</mat-option>
            <mat-option *ngFor="let lang of language" [value]="lang.value">
              {{ lang.viewValue }}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="group">Default Group <span
            class="required-asterisk">*</span></label>
        <div class="col-md-12">
          <mat-select id="group" formControlName="group" name="group" class="form-control">
            <mat-option value="">Please select</mat-option>
            <mat-option *ngFor="let grp of groupsList" [value]="grp.id">
              {{ grp.value }}
            </mat-option>
          </mat-select>
        </div>
      </div>

    </form>
  </div>
