<app-header
  [navbarBrandRouterLink]="['/pages/home']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/gas-monkey-logo.png', width: 80, height: 60, alt: 'GasMonkey Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/gas-monkey-logo.png', width: 30, height: 30, alt: 'GasMonkey Logo'}"
  [sidebarToggler]="'lg'"
  [mobileAsideMenuToggler]="false"
  [asideMenuToggler]="false">

  <ul class="nav navbar-nav ml-auto">
    <h5 style="color: rgb(0, 0, 0); float: right; margin-top: 9px;">{{userName}}</h5>
    <!-- <li class="nav-item d-md-down-none">
      <a class="nav-link"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li> -->
    <li class="nav-item dropdown d-md-down-none" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle
        (click)="clickNtfBar()" style="cursor: pointer; color: rgb(5, 5, 5)">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-danger" [hidden]="notificationCount === 0">
          {{ notificationCount }}
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" style="width: 500px" *dropdownMenu
        aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center" [hidden]="notificationCount === 0">
          <strong>You have {{ notificationCount  }} new notifications</strong>
        </div>
        <div class="dropdown-header text-center" [hidden]="notificationCount !== 0">
          <strong>You have no new notifications</strong>
        </div>
        <div style="max-height: 75vh; overflow: auto">
          <a (click)="goToUrl(ntf)" class="dropdown-item" *ngFor="let ntf of notifications"
            [style.cursor]="setPointer(ntf)" [style.background]="setBackground(ntf)"
            style="word-break: break-word; white-space: unset">
            <table class="table" style="border: none; margin: unset">
              <tr>
                <td width="10%" style="border: none; padding: unset">
                  <i class="icon-user-follow text-success"></i>
                </td>
                <td width="90%" style="border: none; padding: unset">
                  {{ ntf }}
                  <p class="text-muted" style="margin-bottom: unset; font-size: smaller">
                    <!-- {{ ntf.sentOn   }} -->
                  </p>
                </td>
              </tr>
            </table>
          </a>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right" style="margin-right: 40px; display: flex;">
      <a class="nav-link">
        <img [src]="'assets/img/user-logo.png'" class="img-avatar" alt="profile image"
             style="width: 35px;height: 35px; border-radius: 50%;"/>

      </a>
      <button [matMenuTriggerFor]="accountMenu" style="color: black;" mat-icon-button>
        <i class="fa fa-chevron-down"></i>
      </button>
    </li>
    <!-- <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
    </li> -->
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true"  [display]="'lg'"  [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <!-- <app-sidebar-minimizer></app-sidebar-minimizer> -->
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <!-- <cui-breadcrumb> -->
      <!-- Breadcrumb Menu -->
    <!-- </cui-breadcrumb> -->
    <!-- deprecation warning for 'app-breadcrumb' -->
    <!--<ol class="breadcrumb">-->
      <!--<app-breadcrumb></app-breadcrumb>-->
      <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
    <!--</ol>-->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <!-- <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li> -->
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span><a>version {{version}}</a></span>
  <span class="ml-auto">Created by - <a href="https://batworld.com/">Gas Monkey Ltd.</a></span>
</app-footer>
<mat-menu #accountMenu="matMenu" backdropClass="account">
  <button style="height: 35px;" mat-menu-item (click)="dashboard()">
    <i class="fa fa-line-chart btn-info"></i>
    <span class="right-padded" >Dashboard</span>
  </button>
  <button style="height: 35px;" mat-menu-item (click)="ResetPassword()">
    <i class="fa fa-key btn-info"></i>
    <span class="right-padded" >Reset Password</span>
  </button>
  <button style="height: 35px;" mat-menu-item (click)="logout()">
    <i class="fa fa-sign-out btn-danger"></i>
    <span class="right-padded">Logout</span>
  </button>
</mat-menu>
