<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-8">
        <h2 class="title">Discount Offer</h2>
      </div>
      <div class="col-sm-4 leftBtn">
        <div class="divBtn float-right d-flex justify-content-end ">
          <!-- <button class="btn removeBtn ">cancel</button> -->
          <button class="btn saveBtn  mx-3 " [disabled]="checkDisable()"
            [ngStyle]="{'background-color':checkDisable()  ? 'gray' : '#2291db' }" (click)="onSubmit()">SAVE</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div">
  <form [formGroup]="discountOfferForm">
    <div class="row">
      <div class="col-md-12">
        <div class="card cardForm cardHeight">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <section class="example-section">
                    <mat-checkbox class="example-margin" (change)="onchangeDiscountEnable($event)"
                      formControlName="discountEnable">Discount Enable
                    </mat-checkbox>
                    <!-- <span *ngIf=" discountEnable.invalid &&(discountEnable.dirty || discountEnable.touched) "
                      class="text-danger mx-2">
                      <span *ngIf="discountEnable.errors.required">
                        Checked Discount Enable is required.</span>
                    </span> -->
                  </section>
                </div>
              </div>

               <!-- <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class=" col-form-label" for="brandId">Status <span
                        class="required-asterisk">*</span></label><br />
                    <mat-radio-group aria-label="Select an option" id="status" formControlName="status" name="status">
                      <mat-radio-button [value]="true">Active</mat-radio-button>
                      <mat-radio-button [value]="false">Inactive</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div> -->

              </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class=" col-form-label" for="discountType">Discount Type <span
                      class="required-asterisk">*</span></label>
                  <mat-select id="discountType" formControlName="discountType" name="discountType"
                    (selectionChange)="onDiscountTypeChange($event)" class="form-control">
                    <mat-option value="">Please select</mat-option>
                    <mat-option *ngFor="let dl of discountList" [value]="dl.id">
                      {{ dl.value }}
                    </mat-option>
                  </mat-select>
                  <span *ngIf="discountType.invalid &&(discountType.dirty || discountType.touched) "
                      class="text-danger mx-2">
                      <span *ngIf="discountType.errors.required">
                        Please select discount type.</span>
                    </span>
                </div>
              </div>


              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="discountStartDate">Discount Start Date</label>
                  <div class="col-md-12">
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker1" formControlName="discountStartDate">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <span *ngIf="discountStartDate.invalid &&(discountStartDate.dirty || discountStartDate.touched) "
                      class="text-danger mx-2">
                      <span *ngIf="discountStartDate.errors.required">
                        Discount  Start Date is required.</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="discountValue">Discount Value </label>
                  <input type="number" class="form-control inputText" id="discountValue" formControlName="discountValue"
                    name="discountValue" required />
                  <span *ngIf=" discountValue.invalid &&(discountValue.dirty || discountValue.touched) "
                    class="text-danger mx-2">
                    <span *ngIf="discountValue.errors.required">
                      Discount value is required.</span>
                  </span>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="discountEndDate">Discount  End Date</label>
                  <div class="col-md-12">
                    <mat-form-field >
                      <input matInput [matDatepicker]="picker2" formControlName="discountEndDate">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <span *ngIf=" discountEndDate.invalid &&(discountEndDate.dirty || discountEndDate.touched) "
                      class="text-danger mx-2">
                      <span *ngIf="discountEndDate.errors.required">
                        Discount End Date is required.</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class=" col-form-label" for="brandId">Status <span
                      class="required-asterisk">*</span></label><br />
                  <mat-radio-group aria-label="Select an option" id="status" formControlName="status" name="status">
                    <mat-radio-button [value]="true">Active</mat-radio-button>
                    <mat-radio-button [value]="false">Inactive</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>
