
<div class="content" *ngIf="isShowLoading">
    <div class="text-center">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card cardTopDistance">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-3">
              <h3 class="title">Product Type</h3>
            </div>
            <div class="col-sm-9">
              <div class="float-right cardBtn">
                <button class="btn cancelBtn mx-2" (click)="goToList()">CANCEL</button>
                <button class="btn saveBtn" (click)="onSubmit()">
                  {{ buttonText }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card cardForm">
        <div class="card-body">
          <form [formGroup]="productSizeForm">

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="name"
                >Size Name <span class="required-asterisk">*</span></label
              >
              <div class="col-md-12">
                <input
                  type="text"
                  id="name"
                  formControlName="name"
                  name="name"
                  class="form-control"
                />
                <span
                  *ngIf="name.invalid && (name.dirty || name.touched)"
                  class="text-danger mx-2"
                >
                  <span *ngIf="name.errors.required"> Product Size Name is required.</span>
                </span>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="description"
                >Description</label
              >
              <div class="col-md-12">
                <textarea
                  type="text"
                  rows="5" cols="40"
                  id="description"
                  formControlName="description"
                  name="description"
                  class="form-control"
                ></textarea>
              </div>
            </div>

            <section class="example-section">
              <p><mat-checkbox formControlName="visibleStatus">Visible</mat-checkbox></p>
            </section>
          </form>
        </div>
      </div>
    </div>
  </div>
