<div class="row">
  <div class="col-md-9 mx-auto">
    <div class="card cardTopDistance">
      <div class="card-header">
          <div class="row">
              <div class="col-sm-6">
                  <h2 class="title">User Reset Password</h2>
              </div>
              <div class="col-sm-6 leftBtn">
                  <div class="divBtn float-right d-flex justify-content-end ">
                      <button class="btn cancelBtn" (click)="onNoClick()">CLOSE</button>
                      <button class="btn saveBtn  mx-3 " (click)="onSubmit()">SAVE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
<div class="row">
 <div class="col-md-9 mx-auto">
  <div class="card cardForm  ">
    <div class="card-body ">
          <form [formGroup]="userResetPasswordForm">
            <div class="form-group row">
                <label class="col-md-12 col-form-label" for="password">Password </label>
                <div class="col-md-12">
                    <input type="password" id="password" formControlName="password" name="password" class="form-control"
                        placeholder="New Password" autocomplete="Password" />
                    <span
                  *ngIf="
                  password.invalid &&
                    (password.dirty || password.touched)
                  "
                  class="text-danger mx-2"
                >
                  <span *ngIf="password.errors.required"> Password required.</span>
                  <div *ngIf="password.errors.minlength">Password must be at least 8 characters</div>
                </span>
                </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 col-form-label" for="confirmPassword">Confirm Password <span
                  class="required-asterisk">*</span></label>
              <div class="col-md-12">
                <input type="password" id="confirmPassword" formControlName="confirmPassword" name="confirmPassword"
                  class="form-control" placeholder="Confirm password" autocomplete="confirm Password" />
                <span *ngIf="
                confirmPassword.invalid &&
                  (confirmPassword.dirty || confirmPassword.touched)
                " class="text-danger mx-2">
                  <span *ngIf="confirmPassword.errors.required"> Password required.</span>
                  <div *ngIf="confirmPassword.errors?.mustMatch">Password does not match.</div>
                </span>
              </div>
            </div>
        </form>

    </div>
</div>
 </div>
</div>
