<div class="map"
  leaflet
  (leafletMapReady)="onMapReady($event)"
  [leafletOptions]="options"
  ></div>

<!-- <div class="card cardTopDistance">
  <div class="card-header">
      <div class="row">
          <div class="col-sm-8">
              <h1 class="title">Order Details View</h1>
          </div>
          <div class="col-sm-4  ">
              <div class="div d-flex justify-content-end leftBtn">
                  <button class="btn removeBtn mr-3 " (click)="onNoClick()">CLOSE</button>

              </div>
          </div>
      </div>
  </div>
</div>
<div class="card cardForm ">
  <div class="map"
  leaflet
  (leafletMapReady)="onMapReady($event)"
  [leafletOptions]="options"
  [leafletLayersControl]="layersControl"></div>
</div> -->
