.cardForm{
    flex: 1 1 auto;
    padding: 1.25rem;
    border-top: 3px solid grey!important;
  }

  .cardTopDistance{
    margin-top: 30px;
  }

  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1000;
  }


  table {
    width: 100%;
  }

  .removeBtn{
    background-color: red;
    color: #fff;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .875rem;
    width: 90px;
  }

  .editBtn{
    background-color: white;
    color: #ffbe00;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .875rem;
    width: 90px;

  }

  #middlebtn{
    margin: 0 auto !important;
  }

  // /////
  .resTable {
    display: flex ;
    flex-direction: column ;
    max-height: 500px;
    min-width: 300px;
  }
  .mat-table {
    //width: 100%;
    overflow: auto;
    max-height: 500px;
  }
  .mobile-label {
    display: none;
  }


  // .mat-column-categoryTitle {
  //   flex: 0 0 15% !important;
  //   padding-right: 10px;
  //   font-size: 12px;
  //   //font-weight: bold;
  //   white-space: nowrap;
  // }

  // .mat-column-merchantName {
  //   flex: 0 0 15% !important;
  //   padding-right: 10px;
  //   font-size: 12px;
  //  // font-weight: bold;
  //   white-space: nowrap;
  // }


  // .mat-column-productSizeName {
  //   flex: 0 0 15% !important;
  //   padding-right: 10px;
  //   font-size: 12px;
  //  // font-weight: bold;
  //   white-space: nowrap;
  // }

  // .mat-column-description {
  //   flex: 0 0 15% !important;
  //   padding-right: 10px;
  //   font-size: 12px;
  //  // font-weight: bold;
  //   white-space: nowrap;
  // }

  .mat-column-action {
    flex: 0 0 15% !important;
    padding-right: 10px;
    font-size: 12px;
    //font-weight: bold;
  }

  @media screen and (max-width: 1024px) {

    // .mat-column-categoryTitle {
    //   flex: 0 0 15% !important;
    //   padding-right: 10px;
    //   font-size: 12px;
    //   //font-weight: bold;
    //   white-space: nowrap;
    // }

    // .mat-column-merchantName {
    //   flex: 0 0 15% !important;
    //   padding-right: 10px;
    //   font-size: 12px;
    //  // font-weight: bold;
    //   white-space: nowrap;
    // }



    .mat-column-action {
      flex: 0 0 15% !important;
      padding-right: 10px;
      font-size: 12px;
      //font-weight: bold;
    }

    .button_right_align {
      float: right;
      margin-bottom: 8px;
    }

    mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
      padding-left: 0px;
      word-break: break-word;
    }
  }

  @media screen and (max-width: 768px) {
    // .mat-column-action {
    //   flex: 0 0 18% !important;
    // }

    .mat-table.mat-cell {
      overflow: hidden;
      max-height: 500px;
    }

    .mat-column-action {
      flex: 0 0 15% !important;
      padding-right: 10px;
      font-size: 12px;
      //font-weight: bold;
    }

    .button_right_align {
      float: right;
      margin-bottom: 8px;
    }
    mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
      padding-left: 0px;
      word-break: break-word;
    }
  }


  @media(max-width: 476px) {
    .mobile-label {
      width: 100px;
      display: inline-block;
      font-weight: bold;
    }

    .mat-header-row {
      display: none;
    }

    mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
      padding-left: 0px;
      word-break: break-word;
    }

    .mat-row {
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }
  }
