
<div class="content" *ngIf="isShowLoading">
    <div class="text-center">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="card cardForm cardTopDistance">
    <div class="row">
      <div class="col-md-4">
        <h3>Product Size</h3>
      </div>
      <div class="col-md-4 text-center">
        <mat-form-field>
          <input  matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <button class="float-right" mat-stroked-button color="primary" (click)="createNewProductSize()">
          <i class="material-icons">add_circle_outline</i>&nbsp;Add Product Size
        </button>
      </div>
    </div>
    <div class="div resTable ">
      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Size Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Size Name :</span>
            {{element.name}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef>Description </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Description:</span>
            {{element.description}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Status:</span>
            {{element.status}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Action:</span>
            <div class="text-center">
              <button (click)="sendRowData(element)" class="btn  editBtn"><i class="fa fa-pencil"></i>
              </button>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

    <div *ngIf="dataSource.data.length === 0" style="text-align: center;color: red;">
      No Records Found
      </div>

    <mat-paginator [length]="paginatorLength"
      [pageSize]="dataSize"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons
      (page)="pageEvent = $event; onPaginateChange($event)">
     </mat-paginator>
  </div>
