<div class="content" *ngIf="isShowLoading">
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-md-3">
        <h1 class="title">{{this.actionMode == 'edit' ? 'Product Update' : 'Product Create'}}</h1>
      </div>

      <div class="col-md-9">
        <div class="float-right">
          <button class="btn cancelBtn mx-2" (click)="goToList()">CANCEL</button>
          <button class="btn saveBtn" type="submit" [disabled]="checkDisable()"
          [ngStyle]="{'background-color':checkDisable()  ? 'gray' : '#2291db' }"

          (click)="onSubmit()">
            {{ buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="div">
  <form [formGroup]="productForm">
    <div class="row">
      <div class="col-md-6">
        <div class="card cardForm cardHeight">
          <div class="card-body">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class=" col-form-label" for="brandId"> Select Brand <span class="required-asterisk">*</span></label>

                <mat-select id="brandId" formControlName="brandId" (selectionChange)="onBrandChange($event)"
                  name="brandId" class="form-control">
                  <mat-option value="">Please select</mat-option>
                  <mat-option *ngFor="let bt of BrandList" [value]="bt.id">
                    {{ bt.value }}
                  </mat-option>
                </mat-select>
                <span *ngIf=" brandId.invalid &&(brandId.dirty || brandId.touched) " class="text-danger mx-2">
                  <span *ngIf="brandId.errors.required">
                    Please select brand.</span>
                </span>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class=" col-form-label" for="productSizeId"> Select Product Size <span
                    class="required-asterisk">*</span></label>

                <mat-select id="productSizeId" formControlName="productSizeId" name="productSizeId"
                  (selectionChange)="onProductSizeChange($event)" class="form-control">
                  <mat-option value="">Please select</mat-option>
                  <mat-option *ngFor="let pt of productSizeList" [value]="pt.id">
                    {{ pt.value }}
                  </mat-option>
                </mat-select>
                <span *ngIf=" productSizeId.invalid &&(productSizeId.dirty || productSizeId.touched) " class="text-danger mx-2">
                  <span *ngIf="productSizeId.errors.required">
                    Please select product size.</span>
                </span>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class=" col-form-label" for="productValveSizeId">Select Valve Size <span
                    class="required-asterisk">*</span></label>
                <mat-select id="productValveSizeId" formControlName="productValveSizeId" name="productValveSizeId"
                  (selectionChange)="onProductValveSizeChange($event)" class="form-control">
                  <mat-option value="">Please select</mat-option>
                  <mat-option *ngFor="let bt of BulbTypeList" [value]="bt.id">
                    {{ bt.value }}
                  </mat-option>
                </mat-select>
                <span *ngIf=" productValveSizeId.invalid &&(productValveSizeId.dirty || productValveSizeId.touched) " class="text-danger mx-2">
                  <span *ngIf="productValveSizeId.errors.required">
                    Please select vulve size.</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card cardForm cardHeight">
          <div class="card-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="this.actionMode== 'edit'">
              <div class="form-group">
                <label class=" col-form-label" for="status">Status <span
                    class="required-asterisk">*</span></label><br />
                <mat-radio-group aria-label="Select an option" id="status" formControlName="status" name="status">
                  <mat-radio-button [value]="true">Active</mat-radio-button>
                  <mat-radio-button [value]="false">Inactive</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="companyName">Comapny Name <span class="required-asterisk"></span></label>
                  <input type="text" class="form-control inputText" id="companyName"  disabled formControlName="companyName" name="companyName"
                    required />
                  <span *ngIf="
                  companyName.invalid && (companyName.dirty || companyName.touched)
                    " class="text-danger">
                    <span *ngIf="companyName.errors.required">
                      Comapny name is required.</span>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="code">Product Code <span class="required-asterisk">*</span></label>
                  <input type="text" class="form-control inputText" id="code" formControlName="code" name="code"
                    required />
                  <span *ngIf="
                  code.invalid && (code.dirty || code.touched)
                    " class="text-danger">
                    <span *ngIf="code.errors.required">
                      Product code is required.</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12" *ngIf="this.actionMode == 'edit'">
        <div class="card cardForm">
          <h3 class="title">Product Image</h3>
          <div class="card-body">
            <div class="col-md-12">
              <div class="form-group">
                <div class="row">

                  <div class="col-sm-12">
                    <span class="hidden-file">
                      <input type="file"  #fileInput ng2FileSelect [uploader]="uploader"
                        (onFileSelected)="onFileSelected($event)" />
                    </span>
                    <div class="btn-group float-right" (click)="fileInput.click()">

                      <button type="button" class="btn btn-primary">
                        Add Image
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Preview</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of productImageList">
                    <td>
                      {{ item.title }}
                    </td>
                    <td>
                      <img style="margin-top: 10px;margin-left: 10px; cursor: pointer;" [src]="item.imageLink" height="35px"
                        width="35px" (click)="openImageDialog($event)"> <br />
                    </td>
                    <td>
                      {{ item.status }}
                    </td>
                    <!-- <td>
                      {{ item?.file?.size/1024/1024 | number:'.2' }} MB
                    </td> -->
                    <td>
                      <mat-slide-toggle [checked]="item.status === 'Active'? true : false"
                      (change)="onToggleChnage(item,$event.source.checked)"></mat-slide-toggle>&nbsp;&nbsp;
                      <button type="button" class="btn btn-danger btn-xs" (click)="onProductImageDelete(item)">
                        <span class="glyphicon glyphicon-trash"></span>
                        Remove
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr />
              <form [formGroup]="productImageForm">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <section class="example-section">
                        <mat-checkbox class="example-margin" formControlName="featureProduct">Feature Product
                        </mat-checkbox>
                      </section>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <section class="example-section">
                        <mat-checkbox class="example-margin" formControlName="offerProduct">Offer Product
                        </mat-checkbox>
                      </section>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="" *ngIf="this.actionMode == 'edit'">
  <div class="card cardForm">
    <div class="">
      <form [formGroup]="productPriceForm">
        <h3 class="title">Product Price</h3>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label class="label" for="refillPrice">Refill Price <span class="required-asterisk">*</span></label>
              <input type="number" class="form-control inputText" id="refillPrice" formControlName="refillPrice" name="refillPrice"
                required />

                <span *ngIf=" refillPrice.invalid &&(refillPrice.dirty || refillPrice.touched) " class="text-danger mx-2">
                  <span *ngIf="refillPrice.errors.required">
                    Refill Price is required.</span>
                </span>

            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label class="label" for="emptyCylinderPrice">Empty Cylinder Price<span
                  class="required-asterisk">*</span></label>
              <input type="number" class="form-control inputText" id="emptyCylinderPrice" formControlName="emptyCylinderPrice"
                name="emptyCylinderPrice" required />
                <span *ngIf=" emptyCylinderPrice.invalid &&(emptyCylinderPrice.dirty || emptyCylinderPrice.touched) " class="text-danger mx-2">
                  <span *ngIf="emptyCylinderPrice.errors.required">
                    Empty Cylinder Price is required.</span>
                </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label class="label" for="packagePrice">Package Price<span
                  class="required-asterisk">*</span></label>
              <input type="number" class="form-control inputText" id="packagePrice" formControlName="packagePrice"
                name="packagePrice" required />
                <span *ngIf=" packagePrice.invalid &&(packagePrice.dirty || packagePrice.touched) " class="text-danger mx-2">
                  <span *ngIf="packagePrice.errors.required">
                    Package Price is required.</span>
                </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
