<!-- <div class="content" *ngIf="isShowLoading">
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</div> -->
<div class="card cardForm cardTopDistance">
  <div class="row">
    <div class="col-md-4 pt-3" style="padding-left: 30px !important">
      <h2 class="title">{{ masterListService.fieldInfo.listTitleEn }}</h2>
    </div>
    <div class="col-md-4 pt-1">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input (keyup)="applyFilter($event)" matInput />
      </mat-form-field>
    </div>
    <div class="col-md-4 pt-3">
      <div *ngFor="let outerButton of outerButtonFields">
        <div *ngIf="outerButton.controlType === 'add'" class="paddingLeft" style="float: right; padding-right: 20px">
          <button (click)="add(outerButton)" color="secondary" mat-mini-fab type="button">
            <i class="material-icons">add</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <mat-table #table (matSortChange)="sortData($event)" [dataSource]="dataSource" matSort style="width: 100%">
      <ng-container *ngFor="let column of masterColumns" [matColumnDef]="column.key">
        <mat-header-cell *matHeaderCellDef [ngStyle]="{
            padding: '10px',
            'text-align': column.textAlign
              ? column.textAlign
              : column.type === 'currency'
              ? 'right'
              : 'left',
            width: column.width ? column.width : 'auto'
          }" mat-header-cell mat-sort-header="{{ column.key }}">
          {{ column.label }}
        </mat-header-cell>

        <mat-cell *matCellDef="let element" [matTooltip]="
            column.controlType === 'textarea'
              ? element[column.key]
              : column.showToolTip
              ? element[column.key]
              : ''
          " [ngClass]="column.clickable ? 'click-hover' : ''" [ngStyle]="{
            padding: '10px',
            'word-wrap': 'break-word',
            cursor: column.clickable ? 'pointer' : 'default',
            'text-align': column.textAlign
              ? column.textAlign
              : column.type === 'currency'
              ? 'right'
              : column.type === 'text-number'
              ? 'center'
              : 'left'
          }" [style.color]="
            column.canColor
              ? element.color
              : element['defaultColor'][column.key]
          " mat-cell>
          <span class="mobile-label">{{ column.label }}: </span>
          <!-- <span class="mobile-label">{{ column.label }}</span> -->
          <!-- {{ column.type === 'currency' ? (element['showedValue'][column.key] | bdtComma: true) : column.canTranslate ? (element['showedValue'][column.key] | localNumber | translate) : column.showToolTip ? (element['showedValue'][column.key] | textLimit: column.textLimit) : element['showedValue'][column.key]}} -->

          <div *ngIf="column.type == 'img'" style="cursor: pointer">
            <img [src]="
                element['showedValue'][column.key]
                  ? element['showedValue'][column.key]
                  : defaultImage
              " class="img-responsive" height="20px" width="20px" (click)="openImageDialog($event)" />
          </div>
          <div *ngIf="column.type != 'img' && column.type != 'date'">
            {{ element["showedValue"][column.key] }}
          </div>
          <div *ngIf="column.type == 'date'">
            {{ element["showedValue"][column.key] | date: "dd-MMM-yy" }}
          </div>

          <ng-container *ngIf="column.key === 'action'">
            <div *ngFor="let button of innerButtonFields" style="display: inline-block">
              <div *ngIf="button.controlType === 'edit'" class="paddingLeft">
                <button (click)="edit(element, button)" class="btn-list" style="color: #5cb85c; border: 1px solid gray">
                  <i class="material-icons font-xl">create</i>
                </button>
              </div>
              <div *ngIf="button.controlType === 'toggle'" class="paddingLeft">
                <mat-slide-toggle [checked]="element.status === 'Active'" (change)="toggle(element, button)">
                </mat-slide-toggle>&nbsp;&nbsp;
              </div>

              <div *ngIf="button.controlType === 'reset-password'" class="paddingLeft">
                <button (click)="resetPassword(element, button)" class="btn btn-info"
                  style="color: #f6faf6; border: 1px solid gray">
                  Reset Password
                </button>
              </div>

              <div *ngIf="button.controlType === 'reply'" class="paddingLeft">
                <button (click)="reply(element, button)" class="btn btn-info"
                  style="color: #f6faf6; border: 1px solid gray; height: 33px">
                  Reply
                </button>
              </div>

              <div *ngIf="button.controlType === 'payment'" class="paddingLeft">
                <button (click)="payment(element, button)" class="btn btn-info"
                  style="color: #f6faf6; border: 1px solid gray;">
                  Payment
                </button>
              </div>

              <div *ngIf="button.controlType === 'view' && shouldShowButton(element)" class="paddingLeft">
                <button (click)="view(element, button)" class="btn btn"
                  style="color: #23089b; border: 1px solid gray; width: 33px">
                  <i class="fa fa-eye"></i>
                </button>
              </div>
              <div *ngIf="button.controlType === 'map' && shouldShowMapButton(element)" class="paddingLeft">
                <button (click)="map(element, button)" class="btn btn"
                  style="color: #cd4ff3; border: 1px solid gray; width: 33px">
                  <i class="fa fa-map-marker"></i>
                </button>
              </div>

              <div *ngIf="button.controlType === 'forward'" class="paddingLeft">
                <button (click)="forward(element, button)" class="btn btn"
                  style="color: #223106; border: 1px solid gray; width: 33px">
                  <i class="fa fa-forward"></i>
                </button>
              </div>

              <div *ngIf="button.controlType === 'delete'" class="paddingLeft">
                <button (click)="delete(element, button)" class="btn btn-danger"
                  style="color: #f6faf6; border: 1px solid gray; ">
                  Delete
                </button>
              </div>

            </div>
          </ng-container>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>

  <div *ngIf="dataSource.data.length === 0" style="text-align: center; color: red; font-weight: bold">
    <span>{{ " No data found. " }}</span>
  </div>
  <mat-paginator (page)="pageChange($event)" [hidden]="!serviceListControlWrapper?.isPaginated"
    [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
</div>
