.mat-card {
  margin-bottom: 5px;
}

.cardTopDistance{
  margin-top: 30px;
}
.mobile-label {
  display: none;
}

.title{
  font-family: Open Sans,sans-serif;
  font-weight: 500;
  line-height: 2rem;
}

.mat-card-title {
  background-color: #1D2345;
  text-align: center;
  margin: 16px 30% 0 30% !important;
  padding: 2px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  color: white;
}

.btnBgColor {
  background-color: #1D2345;
}

.btnIconColor {
  color: #ffffff;
}

.paddingLeft {
  padding-left: 4px;
}


td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: unset !important;
}

.mat-card-content > :first-child, .mat-card > :first-child {
  margin-top: -16px !important;
}

.button-row {
  display: table-cell;
  float: end;
}

.button-row button {
  display: table-cell;
  margin-right: 8px;
}


.mat-row:hover {
  background-color: #d1e8ff !important;
}

.click-hover:hover {
  background-color: #FBFCFC;
  color: blue !important;
  text-decoration: underline;
  font-size: large;
}

.with-padding {
  padding-top: 20px !important;
}

.without-padding {
  padding-top: 0 !important;
}

@media screen and (min-width: 1024px) {

  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
   }

   .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
   }

   .mat-row,
   .mat-header-row {
    display: table-row;
   }

   .mat-cell,
   .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
   }

}


@media(max-width: 476px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
  }

  .mat-header-row {
    display: none;
  }

  mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 0px;
    word-break: break-word;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}
