<app-mobile-wallet-list *ngIf="mode == 'list'"></app-mobile-wallet-list>
<app-mobile-wallet-edit *ngIf="mode == 'edit' || mode == 'new'" [selectedMobileWalletObj]="selectedMobileWalletObj"></app-mobile-wallet-edit>
