
<div class="content" *ngIf="isShowLoading">
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card cardTopDistance">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-5">
            <h2 class="title" >{{this.actionMode == 'edit' ? 'User Permission Update' : 'User Permission Create'}}</h2>
          </div>
          <div class="col-sm-7">
            <div class="float-right cardBtn">

              <button class="btn saveBtn" (click)="onSubmit()">
                {{ buttonText }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card cardForm">
      <div class="card-body">
        <form [formGroup]="userGroupPermisisonForm">

          <div class="form-group row">
            <label class="col-md-12 col-form-label" for="userGroupId"
              >User Group  <span class="required-asterisk">*</span></label
            >
            <div class="col-md-12">
              <mat-select
                id="userGroupId"
                formControlName="userGroupId"
                name="userGroupId"
                class="form-control"
                (selectionChange)="changeUseGroup($event)"
              >
                <mat-option value="">Please select</mat-option>
                <mat-option
                  *ngFor="let gl of groupsList"
                  [value]="gl.id"
                >
                  {{ gl.value }}
                </mat-option>
              </mat-select>
            </div>
          </div>

          <div class="row">
            <label class="col-md-12 col-form-label"
              >Permission  Menu List <span class="required-asterisk">*</span></label>
                <div formArrayName="menuBeans">
                  <label class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                    [formGroupName]="i"
                    *ngFor="let item of menuList; let i = index"
                  >

                    <section class="example-section">
                      <p><mat-checkbox formControlName="status">{{item.title}}</mat-checkbox></p>
                  </section>
                </label>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
