<div class="row">
  <div class="col-md-9 mx-auto">
    <div class="card cardTopDistance">
      <div class="card-header">
          <div class="row">
              <div class="col-sm-6">
                  <h2 class="title">Reply</h2>
              </div>
              <div class="col-sm-6 leftBtn">
                  <div class="divBtn float-right d-flex justify-content-end ">
                      <button class="btn cancelBtn" (click)="onNoClick()">CLOSE</button>
                      <button class="btn saveBtn  mx-3 " (click)="onSubmit()">SAVE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
<div class="row">
 <div class="col-md-9 mx-auto">
  <div class="card cardForm  ">
    <div class="card-body ">
          <form [formGroup]="replayForm">
            <div class="form-group row">
                <label class="col-md-12 col-form-label" for="note">Note </label>
                <div class="col-md-12">
                    <textarea type="text" id="note" formControlName="note" name="note" class="form-control"
                        placeholder="note" autocomplete="note" ></textarea>
                    <span
                  *ngIf="
                  note.invalid &&
                    (note.dirty || note.touched)
                  "
                  class="text-danger mx-2"
                >
                  <span *ngIf="note.errors.required"> note required.</span>
                </span>
                </div>
            </div>
        </form>

    </div>
</div>
 </div>
</div>

