
<app-permission-list *ngIf="mode == 'list'"></app-permission-list>
<app-permission-edit *ngIf="mode == 'edit' || mode == 'new'" [selectedPermissionObj]="selectedPermissionObj"></app-permission-edit>
