<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="title">Select Partner to forward the order</h1>
      </div>
      <div class="col-sm-4  ">
        <div class="div d-flex justify-content-end leftBtn">
          <button class="btn removeBtn mr-3 " (click)="onNoClick()">CLOSE</button>
          <button class="btn saveBtn" type="submit" [disabled]="!orderForwardForm.valid" (click)="onSubmit()">
            {{ 'Forward' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div">
  <form [formGroup]="orderForwardForm">
    <div class="row">
      <div class="col-md-12">
        <div class="card cardForm ">
          <div class="div ">
            <!-- <div class="card-header">
            </div> -->
            <div class="form-group row">
              <label class="col-md-12 col-form-label" for="districtId">District <span
                  class="required-asterisk">*</span></label>
              <div class="col-md-12">
                <mat-select id="districtId" formControlName="districtId" name="districtId" class="form-control"
                (selectionChange)="onDistrictChange($event)">
                  <mat-option value="">Please select</mat-option>
                  <mat-option *ngFor="let dis of districtList" [value]="dis.id" >
                    {{ dis.value }}
                  </mat-option>
                </mat-select>
                <span *ngIf="
                districtId.invalid &&
                  (districtId.dirty || districtId.touched)
                " class="text-danger mx-2">
                  <span *ngIf="districtId.errors.required"> Please select district.</span>
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-12 col-form-label" for="thanaId">Thana<span
                  class="required-asterisk">*</span></label>
              <div class="col-md-12">
                <mat-select id="thanaId" formControlName="thanaId" name="thanaId" class="form-control"
                (selectionChange)="onThanaChange($event)">

                  <mat-option value="">Please select</mat-option>
                  <mat-option *ngFor="let th of thanaList" [value]="th.id" >
                    {{ th.value }}
                  </mat-option>
                </mat-select>
                <span *ngIf="
                thanaId.invalid &&
                  (thanaId.dirty || thanaId.touched)
                " class="text-danger mx-2">
                  <span *ngIf="thanaId.errors.required"> Please select thana.</span>
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-12 col-form-label" for="areaId">Area <span
                  class="required-asterisk">*</span></label>
              <div class="col-md-12">
                <mat-select id="areaId" formControlName="areaId" name="areaId" class="form-control"
                (selectionChange)="onAreaChange($event)">
                  <mat-option value="">Please select</mat-option>
                  <mat-option *ngFor="let ar of areaList" [value]="ar.id" >
                    {{ ar.value }}
                  </mat-option>
                </mat-select>
                <span *ngIf="
                areaId.invalid &&
                  (areaId.dirty || areaId.touched)
                " class="text-danger mx-2">
                  <span *ngIf="areaId.errors.required"> Please select area.</span>
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-12 col-form-label" for="partnerId">Partner <span
                  class="required-asterisk">*</span></label>
              <div class="col-md-12">
                <mat-select id="partnerId" formControlName="partnerId" name="partnerId" class="form-control"
                (selectionChange)="onPartnerChange($event)">
                  <mat-option value="">Please select</mat-option>
                  <mat-option *ngFor="let grp of partnerList" [value]="grp.id" >
                    {{ grp.value }}
                  </mat-option>
                </mat-select>
                <!-- <span *ngIf="
                groupId.invalid &&
                  (groupId.dirty || groupId.touched)
                " class="text-danger mx-2">
                  <span *ngIf="groupId.errors.required"> Please select group.</span>
                </span> -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>

</div>
