<app-cancel-reason-list *ngIf="mode == 'list'"></app-cancel-reason-list>
<app-cancel-reason-edit *ngIf="mode == 'edit' || mode == 'new'" [selectedCancelReasonObj]="selectedCancelReasonObj"></app-cancel-reason-edit>
