<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-8">
        <h2 class="title">Push Notification</h2>
      </div>
      <div class="col-sm-4 leftBtn">
        <div class="divBtn float-right d-flex justify-content-end ">
          <!-- <button class="btn removeBtn ">cancel</button> -->
          <button class="btn saveBtn  mx-3 " [disabled]="checkDisable()"
            [ngStyle]="{'background-color':checkDisable()  ? 'gray' : '#2291db' }" (click)="onSubmit()">SEND</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div">
  <form [formGroup]="pushNotificationForm">
    <div class="row">
      <div class="col-md-12">
        <div class="card cardForm cardHeight">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class=" col-form-label" for="subject">Subject <span class="required-asterisk">*</span></label>
                  <input type="text" class="form-control inputText" id="subject" formControlName="subject"
                    name="subject" placeholder="Subject" required>
                  <span *ngIf=" subject.invalid && (subject.dirty || subject.touched)
                " class="text-danger">
                    <span *ngIf="subject.errors.required">
                      Subject is required.</span>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="col-form-label" for="typeId">Send To <span class="required-asterisk">*</span></label>
                  <mat-select id="typeId" formControlName="typeId" name="typeId"
                    (selectionChange)="onSendTypeChange($event)" class="form-control">
                    <mat-option value="">Choose who were to sent</mat-option>
                    <mat-option *ngFor="let dl of customerTypeList" [value]="dl.id">
                      {{ dl.value }}
                    </mat-option>
                  </mat-select>
                  <span *ngIf=" typeId.invalid &&(typeId.dirty || typeId.touched) " class="text-danger mx-2">
                    <span *ngIf="typeId.errors.required">
                    SendTo is required</span>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="col-form-label" for="templateId">Template <span class="required-asterisk">*</span></label>
                  <mat-select id="templateId" formControlName="templateId" name="templateId"
                    (selectionChange)="onChangeTemplate($event)" class="form-control">
                    <mat-option value="">Choose template</mat-option>
                    <mat-option *ngFor="let dl of templateList" [value]="dl.id">
                      {{ dl.value }}
                    </mat-option>
                  </mat-select>
                  <span *ngIf=" templateId.invalid &&(templateId.dirty || templateId.touched) " class="text-danger mx-2">
                    <span *ngIf="templateId.errors.required">
                      Template is required</span>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="message">Message <span class="required-asterisk">*</span></label>
                  <textarea type="text" class="form-control inputText" id="message" formControlName="message"
                    name="message" placeholder="message" required></textarea>
                  <span *ngIf=" message.invalid && (message.dirty || message.touched)
                  " class="text-danger">
                    <span *ngIf="message.errors.required">
                      Message is required.</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
