<app-product-size-list *ngIf="mode == 'list'"></app-product-size-list>
<app-product-size-edit *ngIf="mode == 'edit' || mode == 'new'" [selectedProductSizeObj]="selectedProductSizeObj"></app-product-size-edit>
