<div class="animated fadeIn cardTopDistance">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <!-- <i class="icon-location-pin"></i> -->
          </button>
          <div class="text-value">504</div>
          <div>Total Customer</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="lineChart2Data" [labels]="lineChart2Labels"
            [options]="lineChart2Options" [colors]="lineChart2Colours" [legend]="lineChart2Legend"
            [chartType]="lineChart2Type"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <!-- <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button> -->
            <!-- <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> -->
          </div>
          <div class="text-value">50</div>
          <div> Total Partner</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="lineChart1Data" [labels]="lineChart1Labels"
            [options]="lineChart1Options" [colors]="lineChart1Colours" [legend]="lineChart1Legend"
            [chartType]="lineChart1Type"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <!-- <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> -->
          </div>
          <div class="text-value">10</div>
          <div>Total Dealer</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="lineChart3Data" [labels]="lineChart3Labels"
            [options]="lineChart3Options" [colors]="lineChart3Colours" [legend]="lineChart3Legend"
            [chartType]="lineChart3Type"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <!-- <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> -->
          </div>
          <div class="text-value">5000</div>
          <div>Total Sale Volume</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels"
            [options]="barChart1Options" [colors]="barChart1Colours" [legend]="barChart1Legend"
            [chartType]="barChart1Type"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="div">
    <div class="row">
      <div class="col-md-8">
        <div class="card cardForm ">
          <div class="row">
            <div class="col-md-2">
            </div>
              <div class="col-md-5">
              <mat-form-field color="accent">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="startDate" (dateChange)="orderDetailsStartDateChange($event)" style="width:100%">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field color="accent">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="stopDate" (dateChange)="orderDetailsEndDateChange($event)" [min]="minDate" style="width:100%">
                <mat-datepicker-toggle matSuffix [for]="stopDate"></mat-datepicker-toggle>
                <mat-datepicker #stopDate color="primary"></mat-datepicker>
              </mat-form-field>
            </div>
            </div>
          <div class="row">
            <div class="col-md-12">
              <button class="float-right orderbtn" mat-stroked-button color="primary" (click)="lastYear()">

                Last 1 Year
              </button>
              <button class="float-right orderbtn" mat-stroked-button color="primary" (click)="lastMonth()">

                Last 1 Month
              </button>
              <button class="float-right orderbtn" mat-stroked-button color="primary" (click)="lastWeek()">
                Last 7 days
              </button>
            </div>
          </div>
          <h2 class="text-center my-1"> Order Details</h2>
          <div style="display: block;">
            <canvas baseChart  width="400" height="120" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card cardForm ">
          <h2 class="text-center my-1">Recent Orders</h2>
          <div class="mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource">

              <ng-container matColumnDef="orderId">
                <mat-header-cell *matHeaderCellDef>Order Id </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Order Id :</span>
                  {{element.orderId}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="product">
                <mat-header-cell *matHeaderCellDef> Product</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Product:</span>
                  {{element.product}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="customer">
                <mat-header-cell *matHeaderCellDef><b>Customer</b> </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Customer:</span>
                  {{element.customer}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Status </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Status:</span>
                  {{element.status}}
                </mat-cell>
              </ng-container>
              <!--
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Action:</span>
                <div class="text-center">
                  <button (click)="sendRowData(element)" class="btn  editBtn"><i class="fa fa-pencil"></i>
                  </button>
                </div>
              </mat-cell>
            </ng-container> -->

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [length]="paginatorLength" [pageSize]="dataSize" [pageSizeOptions]="pageSizeOptions"
              showFirstLastButtons (page)="pageEvent = $event; onPaginateChange($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-6">
          <div class="card cardForm ">
            <h2 class="text-center my-1">Last Due Payment</h2>
            <div style="display: block;">
              <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType">
              </canvas>
            </div>
              </div>
          </div>
      <div class="col-md-6">
          <div class="card cardForm ">
            <div style="display: block;">
              <canvas baseChart
                [datasets]="scatterChartData"
                [options]="scatterChartOptions"
                [chartType]="scatterChartType">
              </canvas>
            </div>

      </div>
  </div>
  </div> -->
    <div class="row">
      <div class="col-md-8">
        <div class="card cardForm">
          <div class="row">
            <div class="col-md-2">
            </div>
              <div class="col-md-5">
              <mat-form-field color="accent">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="startDate2" (dateChange)="ratioStartDateChange($event)" style="width:100%">
                <mat-datepicker-toggle matSuffix [for]="startDate2"></mat-datepicker-toggle>
                <mat-datepicker #startDate2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field color="accent">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="stopDate2" (dateChange)="RatioEndDateChange($event)" [min]="minDate" style="width:100%">
                <mat-datepicker-toggle matSuffix [for]="stopDate2"></mat-datepicker-toggle>
                <mat-datepicker #stopDate2 color="primary"></mat-datepicker>
              </mat-form-field>
            </div>
            </div>

          <h2 class="text-center my-1">Sales Ratio</h2>
          <div style="display: block;">
            <canvas baseChart width="400" height="120" [datasets]="lineChartData" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card cardForm ">
          <h2 class="text-center my-1">Total Sales By Brand</h2>
          <div style="display: block;">
            <canvas baseChart [data]="pieChartData" height="200" [labels]="pieChartLabels" [chartType]="pieChartType"
              [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>
          </div>
          <div class="text-center pt-3">
            <div class="row">
              <div class="col-md-8">
                <ul>
                  <li style="text-align: left;">Jamuna</li>
                  <li  style="text-align: left;">Basunbdhara</li>
                  <li  style="text-align: left;">Beximco</li>
                </ul>
              </div>
              <div class="col-md-4">
                  <span style="text-align: right;">100</span><br/>
                  <span  style="text-align: right;">200</span><br/>
                  <span  style="text-align: right;">500</span><br/>
              </div>
            </div>
            <button mat-raised-button color="primary">See All</button>
          </div>
        </div>
      </div>
    </div>
