
<app-user-group-permission-list *ngIf="mode == 'list'"></app-user-group-permission-list>
<app-user-group-permission-edit *ngIf="mode == 'edit' || mode == 'new'" [selectedUserGroupPermissionObj]="selectedUserGroupPermissionObj"></app-user-group-permission-edit>
