<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="title">Order Details View {{orderViewData?.orderNumber}}</h1>
      </div>
      <div class="col-sm-4  ">
        <div class="div d-flex justify-content-end leftBtn">
          <button class="btn removeBtn mr-3 " (click)="onNoClick()">CLOSE</button>
          <!-- <button class="btn saveBtn  " (click)="onSubmit()">{{buttonText}}</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="div">
  <div class="row">
    <div class="col-md-12">
      <div class="card cardForm ">
        <div class=" ">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="title">Customer Information</h2>
              </div>
              <div class="col-sm-4  ">
                <div class="div d-flex justify-content-end leftBtn">
                  <!-- <button class="btn removeBtn mr-3 ">CANCEL</button> -->
                  <!-- <button class="btn saveBtn  " (click)="onSubmit()">{{buttonText}}</button> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Customer Name : {{orderViewData?.customerName}}</label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Customer Phone : {{orderViewData?.phoneNo}} </label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Customer Address : {{orderViewData?.address}} </label>&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card cardForm ">
        <div class="">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="title">Order Information</h2>
              </div>
              <div class="col-sm-4  ">
                <div class="div d-flex justify-content-end leftBtn">
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Order Number : {{orderViewData?.orderNumber}} </label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Partner Name : {{orderViewData?.partnerName}} </label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Product Description : {{orderViewData?.productDescription}} </label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Order Date : {{orderViewData?.dateCreated}} </label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Order Time : {{orderViewData?.orderTime}} </label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Order Qty : {{orderViewData?.orderQty}} </label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Delivery Address : {{orderViewData?.deliveryMapAddress}} </label>&nbsp;
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Return Product : {{orderViewData?.returnProduct}} </label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Status : <span
                    style="color: red;">{{orderViewData?.orderStatus}}</span></label>&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card cardForm ">
        <div class="">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="title">Payment Information</h2>
              </div>
              <div class="col-sm-4  ">
                <div class="div d-flex justify-content-end leftBtn">
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Dealer Name : {{orderViewData?.dealerName}} </label>&nbsp;
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">SubTotal : {{orderViewData?.subTotal}} </label>&nbsp;
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Total : {{orderViewData?.total}} </label>&nbsp;
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">VAT : {{orderViewData?.vat}} </label>&nbsp;
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Service Charge : {{orderViewData?.serviceCharge}} </label>&nbsp;
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Regular Delivery : {{orderViewData?.regularDelivery}} </label>&nbsp;
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Discount Amount : {{orderViewData?.discountAmount}} </label>&nbsp;
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Coupon Value : {{orderViewData?.couponValue}} </label>&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
