<div class="content" *ngIf="isShowLoading">
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-3">
        <h3 class="title">Product Price</h3>
      </div>
      <div class="col-sm-9">
        <div class="float-right cardBtn">
          <button class="btn cancelBtn mx-2" (click)="goToList()">CANCEL</button>
          <button class="btn saveBtn" (click)="onSubmit()">
            {{ buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div">
  <form [formGroup]="productPriceForm">
    <div class="row">
      <div class="col-md-6">
        <div class="card cardForm">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-12 col-form-label mb-2" for="productPriceCode">Price Code<span
                  class="required-asterisk">*</span></label>
              <div class="col-md-12">
                <input type="text" id="productPriceCode" formControlName="productPriceCode" name="productPriceCode"
                  class="form-control" placeholder="Price Code" />
                <span *ngIf="productPriceCode.invalid && (productPriceCode.dirty || productPriceCode.touched)"
                  class="text-danger mx-2">
                  <span *ngIf="productPriceCode.errors.required"> Price code is required.</span>
                </span>
              </div>
            </div>

            <div class="row">
              <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
                  <div class="form-group">
                      <label class="label " for="defaultPrice">Default Price <span
                              class="required-asterisk">*</span></label>

                      <section class="example-section ">
                          <mat-checkbox class="example-margin" formControlName="defaultPrice">500
                          </mat-checkbox>
                      </section>
                    </div>
                </div> -->

              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 my-2 ">
                <div class="form-group">
                  <label class="label " for="defaultPrice">Default Price <span
                      class="required-asterisk">*</span></label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 my-2">
                <div class="form-group">
                  <section class="example-section ">
                    <mat-checkbox class="example-margin" formControlName="defaultPrice">500
                    </mat-checkbox>
                  </section>
                </div>
              </div>

            </div>

            <div class="form-group row ">
              <label class="col-md-12 col-form-label" for="productPriceSpecialAmount">Price Amount<span
                  class="required-asterisk">*</span></label>
              <div class="col-md-12">
                <input type="text" id="productPriceSpecialAmount" formControlName="productPriceSpecialAmount"
                  name="productPriceSpecialAmount" class="form-control" placeholder="Special Amount" />
                <span
                  *ngIf="productPriceSpecialAmount.invalid && (productPriceSpecialAmount.dirty || productPriceSpecialAmount.touched)"
                  class="text-danger mx-2">
                  <span *ngIf="productPriceSpecialAmount.errors.required"> Price code is required.</span>
                </span>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-md-12 col-form-label" for="productPriceAmount">Price Amount<span
                  class="required-asterisk">*</span></label>
              <div class="col-md-12">
                <input type="text" id="productPriceAmount" formControlName="productPriceAmount"
                  name="productPriceAmount" class="form-control" placeholder="Price Amount" />
                <span *ngIf="productPriceAmount.invalid && (productPriceAmount.dirty || productPriceAmount.touched)"
                  class="text-danger mx-2">
                  <span *ngIf="productPriceAmount.errors.required"> Price code is required.</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card cardForm">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-12 col-form-label" for="productPriceSpecialStDate">Product Price Special Start
                Date<span class="required-asterisk">*</span></label>
              <div class="col-md-12">
                <mat-form-field appearance="standard">
                  <input matInput [matDatepicker]="picker" formControlName="productPriceSpecialStDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 col-form-label" for="productPriceSpecialEndDate">Product Price Special End
                Date<span class="required-asterisk">*</span></label>
              <div class="col-md-12">
                <mat-form-field appearance="standard">
                  <input matInput [matDatepicker]="picker1" formControlName="productPriceSpecialEndDate">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group row my-3">
              <label class="col-md-12 col-form-label" for="productReturnPrice">Product Return Price<span
                  class="required-asterisk">*</span></label>
              <div class="col-md-12">
                <input type="text" id="productReturnPrice" formControlName="productReturnPrice"
                  name="productReturnPrice" class="form-control" placeholder="Return Price" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- <div class="card cardForm">
    <div class="card-body">
      <form [formGroup]="productPriceForm">

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="productPriceCode"
            >Price Code<span class="required-asterisk">*</span></label
          >
          <div class="col-md-12">
            <input
              type="text"
              id="productPriceCode"
              formControlName="productPriceCode"
              name="productPriceCode"
              class="form-control"
              placeholder="Price Code"
            />
            <span
              *ngIf="productPriceCode.invalid && (productPriceCode.dirty || productPriceCode.touched)"
              class="text-danger mx-2"
            >
              <span *ngIf="productPriceCode.errors.required"> Price code is required.</span>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                  <label class="label" for="defaultPrice">Default Price <span
                          class="required-asterisk">*</span></label>

                  <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="defaultPrice">500
                      </mat-checkbox>
                  </section>
              </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-12col-form-label" for="productPriceSpecialAmount"
            >Price Amount<span class="required-asterisk">*</span></label
          >
          <div class="col-md-12">
            <input
              type="text"
              id="productPriceSpecialAmount"
              formControlName="productPriceSpecialAmount"
              name="productPriceSpecialAmount"
              class="form-control"
              placeholder="Special Amount"
            />
            <span
              *ngIf="productPriceSpecialAmount.invalid && (productPriceSpecialAmount.dirty || productPriceSpecialAmount.touched)"
              class="text-danger mx-2"
            >
              <span *ngIf="productPriceSpecialAmount.errors.required"> Price code is required.</span>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="productPriceAmount"
            >Price Amount<span class="required-asterisk">*</span></label
          >
          <div class="col-md-12">
            <input
              type="text"
              id="productPriceAmount"
              formControlName="productPriceAmount"
              name="productPriceAmount"
              class="form-control"
              placeholder="Price Amount"
            />
            <span
              *ngIf="productPriceAmount.invalid && (productPriceAmount.dirty || productPriceAmount.touched)"
              class="text-danger mx-2"
            >
              <span *ngIf="productPriceAmount.errors.required"> Price code is required.</span>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="productPriceSpecialStDate"
            >Product Price Special Start Date<span class="required-asterisk">*</span></label
          >
          <div class="col-md-12">
            <mat-form-field appearance="standard" >
              <input matInput [matDatepicker]="picker" formControlName="productPriceSpecialStDate" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="productPriceSpecialEndDate"
            >Product Price Special End Date<span class="required-asterisk">*</span></label
          >
          <div class="col-md-12">
            <mat-form-field appearance="standard" >
              <input matInput [matDatepicker]="picker1" formControlName="productPriceSpecialEndDate" >
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="productReturnPrice"
            >Product Return Price<span class="required-asterisk">*</span></label
          >
          <div class="col-md-12">
            <input
              type="text"
              id="productReturnPrice"
              formControlName="productReturnPrice"
              name="productReturnPrice"
              class="form-control"
              placeholder="Return Price"
            />
          </div>
        </div>
      </form>
    </div>
  </div> -->
