.cardTopDistance{
  margin-top: 30px;
}


.cardForm{
  flex: 1 1 auto;
  padding: 1.25rem;
  border-top: 3px solid grey!important;
}

.cardTopDistance{
  margin-top: 30px;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
}


// ::ng-deep .mat-progress-bar-fill::after {
//   background-color: #637c1e;
// }

::ng-deep mat-progress-bar.progressbar1 .mat-progress-bar-fill::after {
  background-color: rgb(50, 223, 27);
}

// ::ng-deep mat-progress-bar.progressbar2 .mat-progress-bar-fill::after {
//   background-color: green;
// }

// ::ng-deep mat-progress-bar.progressbar3 .mat-progress-bar-fill::after {
//   background-color: rgb(241, 146, 36);
// }

// ::ng-deep mat-progress-bar.progressbar4 .mat-progress-bar-fill::after {
//   background-color: rgb(57, 89, 231);
// }


::ng-deep .mat-progress-bar {
  border-radius: 10px;
  //height: 40px;
}
