<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto ">

          <div class="card-group ">
            <div class="card ">
              <div class=" bg-white text-center">
                <img src="../../../../assets/img/gas-monkey-logo.png" alt="gas-monkey-logo"
                  style="width: 120px;height:100px; " class="mt-3">
                  
              </div>

              <div class="card-body mx-5 ">
                <div class="div mx-5">
                  <form [formGroup]="formGroup">
                    <label for="Username">Username</label>
                    <div class="input-group mb-3">
  
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="text" class="form-control" formControlName="username" placeholder="Username"
                        autocomplete="username" required>
                    </div>
                    <label for="Username">Password</label>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" formControlName="password" placeholder="Password"
                        autocomplete="current-password" required>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <button (click)="userLogin()" class="btn btn-primary px-4">Login</button>
                      </div>
                      <div class="col-6 text-right">
                        <button (click)="userForgotPassword()" class="btn btn-link px-0">Forgot password?</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>