<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="title">{{ 'Partner View' }}</h1>
      </div>

      <div class="col-sm-4">
        <div class="div d-flex justify-content-end leftBtn">
          <button class="btn cancelBtn mx-2" (click)="goToList()">CANCEL</button>
          <button class="btn saveBtn" (click)="onSubmit()" *ngIf="!isApproved">
            {{ buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="div">
  <div class="row">

    <div class="col-md-12">
      <div class="card cardForm ">
        <div class=" ">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="title">Partner Information</h2>
              </div>
              <div class="col-sm-4  ">
                <div class="div d-flex justify-content-end leftBtn">

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Partner Name : {{partnerViewData?.customerInfoBean?.customerName}}</label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Partner Phone : {{partnerViewData?.customerInfoBean?.phoneNo}} </label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Partner Email : {{partnerViewData?.customerInfoBean?.emailAddress}} </label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Partner Status : {{partnerViewData?.customerInfoBean?.approved ? 'Approved' : 'Not Approved'}} </label>&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card cardForm ">
        <div class=" ">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="title">Customer Address</h2>
              </div>
              <div class="col-sm-4  ">
                <div class="div d-flex justify-content-end leftBtn">

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">District : {{partnerViewData?.customerInfoBean?.district?.name}}</label>&nbsp;
              </div>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Thana : {{partnerViewData?.customerInfoBean?.thana?.name}} </label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Area : {{partnerViewData?.customerInfoBean?.cluster?.name}} </label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">House/Road : {{partnerViewData?.customerInfoBean?.address}} </label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Latitude : {{partnerViewData?.customerInfoBean?.latitude}} </label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Longitude : {{partnerViewData?.customerInfoBean?.longitude}} </label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">prefered Waiting Area : {{partnerViewData?.workingZoneBean?.name}} </label>&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card cardForm ">
        <div class=" ">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="title">Parmanent Address</h2>
              </div>
              <div class="col-sm-4  ">
                <div class="div d-flex justify-content-end leftBtn">

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
                <div class="form-group">
                  <label class="label">District : {{partnerViewData?.customerInfoBean?.district?.name}}</label>&nbsp;
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
                <div class="form-group">
                  <label class="label">Thana : {{partnerViewData?.customerInfoBean?.thana?.name}} </label>&nbsp;
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
                <div class="form-group">
                  <label class="label">Area : {{partnerViewData?.customerInfoBean?.cluster?.name}} </label>&nbsp;
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
                <div class="form-group">
                  <label class="label">House/Road : {{partnerViewData?.customerInfoBean?.address}} </label>&nbsp;
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card cardForm ">
        <div class=" ">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="title">Wallet Information</h2>
              </div>
              <div class="col-sm-4  ">
                <div class="div d-flex justify-content-end leftBtn">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Mobile Banking Name : {{partnerViewData?.mobileWallet?.name}}</label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Mobile Wallet Number : {{partnerViewData?.mobileWalletNo}} </label>&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card cardForm ">
        <div class=" ">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="title">Nomine Information</h2>
              </div>
              <div class="col-sm-4  ">
                <div class="div d-flex justify-content-end leftBtn">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Nomine Name : {{partnerViewData?.nomineeName}}</label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Nomine Mobile : {{partnerViewData?.nomineePhone}} </label>&nbsp;
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Nomine Relationship : {{partnerViewData?.nomineeRelationShip}} </label>&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card cardForm ">
        <div class=" ">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="title">Verification Information</h2>
              </div>
              <div class="col-sm-4  ">
                <div class="div d-flex justify-content-end leftBtn">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Verification Status : {{verificationData}}</label>&nbsp;
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
              <div class="form-group">
                <label class="label">Verification Note : {{'N/A'}} </label>&nbsp;
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="col-md-12">
      <div class="card cardForm ">
        <div class=" ">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="title">Document Information</h2>
              </div>
              <div class="col-sm-4  ">
                <div class="div d-flex justify-content-end leftBtn">
                  <div class="row">

                    <div class="col-sm-12">
                      <span class="hidden-file">
                        <input type="file" #fileInput ng2FileSelect [uploader]="uploader"
                          (onFileSelected)="onFileSelected($event)" />
                      </span>
                      <div class="btn-group float-right" (click)="fileInput.click()">

                        <button type="button" class="btn btn-primary">
                          Add Image
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">

            <div class="col-sm-12">
              <span class="hidden-file">
                <input type="file" #fileInput ng2FileSelect [uploader]="uploader"
                  (onFileSelected)="onFileSelected($event)" />
              </span>
              <div class="btn-group float-right" (click)="fileInput.click()">

                <button type="button" class="btn btn-primary">
                  Add Image
                </button>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of DocumentImageList">
              <td>
                {{ item.title }}
              </td>
              <td>
                <button type="button" class="btn btn-primary btn-xs" (click)="onImageDialog(item)">
                  <span class="glyphicon glyphicon-trash"></span>
                  View
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <hr />

      </div>
    </div>
  </div>
</div>
