
<div class="content" *ngIf="isShowLoading">
    <div class="text-center">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="card cardForm cardTopDistance">
    <div class="row">
      <div class="col-md-4">
        <h3>Product Price</h3>
      </div>
      <div class="col-md-4 text-center">
        <mat-form-field>
          <input  matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <button class="float-right" mat-stroked-button color="primary" (click)="createNewProductPrice()">
          <i class="material-icons">add_circle_outline</i>&nbsp;Add Product Price
        </button>
      </div>
    </div>
    <div class="div resTable ">
      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="productPriceCode">
          <mat-header-cell *matHeaderCellDef>Code </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Code :</span>
            {{element.productPriceCode}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="defaultPrice">
          <mat-header-cell *matHeaderCellDef>Deafult Price </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Deafult Price :</span>
            {{element.defaultPrice}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="productPriceAmount">
          <mat-header-cell *matHeaderCellDef>Amount </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Amount:</span>
            {{element.productPriceAmount}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="productPriceSpecialAmount">
          <mat-header-cell *matHeaderCellDef>Special Amount</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Special Amount:</span>
            {{element.productPriceSpecialAmount}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="productReturnPrice">
          <mat-header-cell *matHeaderCellDef> Return Price </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Return Price:</span>
            {{element.productReturnPrice}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="productPriceSpecialStDate">
          <mat-header-cell *matHeaderCellDef>Start Date </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Start Date:</span>
            {{element.productPriceSpecialStDate}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="productPriceSpecialEndDate">
          <mat-header-cell *matHeaderCellDef>End Date </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">End Date:</span>
            {{element.productPriceSpecialEndDate}}
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Action:</span>
            <div class="text-center">
              <button (click)="sendRowData(element)" class="btn  editBtn"><i class="fa fa-pencil"></i>
              </button>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

    <div *ngIf="dataSource.data.length === 0" style="text-align: center;color: red;">
      No Records Found
      </div>

    <mat-paginator [length]="paginatorLength"
      [pageSize]="dataSize"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons
      (page)="pageEvent = $event; onPaginateChange($event)">
     </mat-paginator>
  </div>
