
<div class="content" *ngIf="isShowLoading">
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-5">
        <h2 class="title">{{this.actionMode == 'edit' ? 'Designation Update' : 'Designation Create'}}</h2>
      </div>
      <div class="col-sm-7">
        <div class="float-right cardBtn">
          <button class="btn cancelBtn mx-2" (click)="goToList()">CANCEL</button>
          <button class="btn saveBtn" type="submit" [disabled]="checkDisable()"
          [ngStyle]="{'background-color':checkDisable()  ? 'gray' : '#2291db' }" (click)="onSubmit()" >  {{ buttonText }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div">
  <form [formGroup]="designationForm">
    <div class="row">
      <div class="col-md-12">
        <div class="card cardForm cardHeight">
          <div class="card-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="label" for="name">Designation Name <span class="required-asterisk">*</span></label>
                <input type="text" class="form-control inputText" id="name" formControlName="name"
                  name="name" required />
                <span *ngIf=" name.invalid &&(name.dirty || name.touched) " class="text-danger mx-2">
                  <span *ngIf="name.errors.required">Designation Name is required.</span></span>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="this.actionMode == 'edit'">
              <div class="form-group">
                <label class=" col-form-label" for="brandId">Status <span
                    class="required-asterisk">*</span></label><br />
                <mat-radio-group aria-label="Select an option" id="status" formControlName="status" name="status">
                  <mat-radio-button [value]="true">Active</mat-radio-button>
                  <mat-radio-button [value]="false">Inactive</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
