// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";


.mat-green-snackbar {
  background: green !important;
  margin-top: 8px !important;
}

.mat-red-snackbar {
  background: red !important;
  margin-top: 8px !important;
}

.sidebar .nav-item {
  position: relative;
  margin: 0;
  font-size: 12px;
  transition: background 0.3s ease-in-out;
  text-decoration: none !important;
}

