<div class="card cardTopDistance">
  <div class="card-header">
      <div class="row">
          <div class="col-sm-8">
              <h1 class="title">Create Orders</h1>
          </div>

          <div class="col-sm-4  ">
              <div class="div d-flex justify-content-end leftBtn">
                  <button class="btn removeBtn mr-3 ">CANCEL</button>
                  <button class="btn saveBtn  " (click)="onSubmit()">{{buttonText}}</button>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="div">
  <div class="row">
      <div class="col-md-12">
          <div class="card cardForm ">
              <div class="">
                  <form [formGroup]="billingForm">
                      <h3 class="title">Billing Information</h3>
                      <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-1">
                              <div class="form-group">
                                  <label class="label" for="firstName">First name <span
                                          class="required-asterisk">*</span></label>
                                  <input type="text" class="form-control inputText" id="firstName"
                                      formControlName="firstName" placeholder="First Name" name="firstName" required>
                                      <span *ngIf="
                                      firstName.invalid &&
                                        (firstName.dirty || firstName.touched)
                                      " class="text-danger mx-2">
                                        <span *ngIf="firstName.errors.required"> First name is required.</span>
                                      </span>
                              </div>
                          </div>

                      </div>

                  </form>
              </div>
          </div>
      </div>

  </div>
</div>

