<div class="content" *ngIf="isShowLoading">
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-5">
        <h2 class="title">{{this.actionMode == 'edit' ? 'Brand Update' : 'Brand Create'}}</h2>
      </div>
      <div class="col-sm-7">
        <div class="float-right cardBtn">
          <button class="btn cancelBtn mx-2" (click)="goToList()">CANCEL</button>
          <button class="btn saveBtn" type="submit" [disabled]="checkDisable()"
          [ngStyle]="{'background-color':checkDisable()  ? 'gray' : '#2291db' }"
          (click)="onSubmit()">
            {{ buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="brnadForm">
  <div class="row">
    <div class="col-md-12">
      <div class="card cardForm">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="label" for="companyName">Company Name(English) <span
                    class="required-asterisk">*</span></label>
                <input type="text" class="form-control inputText" id="companyName" formControlName="companyName"
                  name="companyName" required />
                <span *ngIf="
                      companyName.invalid &&
                        (companyName.dirty || companyName.touched)
                      " class="text-danger mx-2">
                  <span *ngIf="companyName.errors.required">
                    Company Name(English) is required.</span>
                </span>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="label" for="nameEn">Brand Name(English) <span class="required-asterisk">*</span></label>
                <input type="text" class="form-control inputText" id="nameEn" formControlName="nameEn" name="nameEn"
                  required />
                <span *ngIf="
                      nameEn.invalid &&
                        (nameEn.dirty || nameEn.touched)
                      " class="text-danger mx-2">
                  <span *ngIf="nameEn.errors.required">
                    Brand Name(English) is required.</span>
                </span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="label" for="nameBn">Brand Name(Bangla) <span class="required-asterisk">*</span></label>
                <input type="text" class="form-control inputText" id="nameBn" formControlName="nameBn" name="nameBn"
                  (input)="onTextChangeOnlyBangla($event)" required />
                <span *ngIf="
                      nameBn.invalid && (nameBn.dirty || nameBn.touched)
                      " class="text-danger mx-2">
                  <span *ngIf="nameBn.errors.required">
                    Brand Name (Bangla) is required.</span>
                </span>
                <!-- <span class="text-danger" *ngIf="nameBn.errors?.pattern">
                      Brand Name (Bangla) is required.
                    </span> -->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="this.actionMode== 'edit'">
              <div class="form-group">
                <label class=" col-form-label" for="brandId">Status <span
                    class="required-asterisk">*</span></label><br />
                <mat-radio-group aria-label="Select an option" id="status" formControlName="status" name="status">
                  <mat-radio-button [value]="true">Active</mat-radio-button>
                  <mat-radio-button [value]="false">Inactive</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="this.actionMode== 'edit'">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <section class="example-section">
                  <mat-checkbox class="example-margin" (change)="onchangeDiscountEnable($event)"
                    formControlName="discountEnabled">Discount Enable
                  </mat-checkbox>
                  <span *ngIf=" discountEnabled.invalid &&(discountEnabled.dirty || discountEnabled.touched) "
                    class="text-danger mx-2">
                    <span *ngIf="discountEnabled.errors.required">
                      Checked Discount Enable is required.</span>
                  </span>
                </section>
              </div>
            </div>
          </div>

          <div *ngIf="checkedDiscountEnable">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class=" col-form-label" for="discountType">Discount Type <span
                      class="required-asterisk">*</span></label>
                  <mat-select id="discountType" formControlName="discountType" name="discountType"
                    (selectionChange)="onDiscountTypeChange($event)" class="form-control">
                    <mat-option value="">Please select</mat-option>
                    <mat-option *ngFor="let dl of discountList" [value]="dl.id">
                      {{ dl.value }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="discountValue">Discount Value </label>
                  <input type="number" class="form-control inputText" id="discountValue" formControlName="discountValue"
                    name="discountValue" required />
                  <span *ngIf=" discountValue.invalid &&(discountValue.dirty || discountValue.touched) "
                    class="text-danger mx-2">
                    <span *ngIf="discountValue.errors.required">
                      Discount value is required.</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="discountStartDate">Discount Start Date</label>
                  <div class="col-md-12">
                    <mat-form-field appearance="standard">
                      <input matInput [matDatepicker]="picker1" formControlName="discountStartDate">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <span *ngIf="discountStartDate.invalid &&(discountStartDate.dirty || discountStartDate.touched) "
                      class="text-danger mx-2">
                      <span *ngIf="discountStartDate.errors.required">
                        Discount Price Start Date is required.</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="label" for="discountEndDate">Discount Price End Date</label>
                  <div class="col-md-12">
                    <mat-form-field appearance="standard">
                      <input matInput [matDatepicker]="picker2" formControlName="discountEndDate">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <span *ngIf=" discountEndDate.invalid &&(discountEndDate.dirty || discountEndDate.touched) "
                      class="text-danger mx-2">
                      <span *ngIf="specialPriceEndDate.errors.required">
                        Discount End Date is required.</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-md-12" *ngIf="this.actionMode == 'edit'">
    <div class="card cardForm">
      <h3 class="title">Brand Image</h3>
      <div class="card-body">
        <div class="col-md-12">
          <div class="form-group">
            <div class="row">

              <div class="col-sm-12">
                <span class="hidden-file">
                  <input type="file" #fileInput ng2FileSelect [uploader]="uploader"
                    (onFileSelected)="onFileSelected($event)" />
                </span>
                <div class="btn-group float-right" (click)="fileInput.click()">

                  <button type="button" class="btn btn-primary">
                    Add Image
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Preview</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of brandImageList">
                <td>
                  {{ item.title }}
                </td>
                <td>
                  <img style="margin-top: 10px;margin-left: 10px; cursor: pointer;" [src]="item.imageLink" height="35px" width="35px" (click)="openImageDialog($event)">
                  <br />
                </td>
                <td>
                  {{ item.status }}
                </td>
                <!-- <td>
                  {{ item?.file?.size/1024/1024 | number:'.2' }} MB
                </td> -->
                <td>
                  <mat-slide-toggle [checked]="item.status === 'Active'"
                    (change)="onToggleChnage(item,$event.source.checked)"></mat-slide-toggle>&nbsp;&nbsp;
                  <button type="button" class="btn btn-danger btn-xs" (click)="onBrandImageDelete(item)">
                    <span class="glyphicon glyphicon-trash"></span>
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <hr />

        </div>
      </div>
    </div>
  </div>
</div>
